<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">

                        <h1>Where Did My Tooth Enamel Go?</h1>

                        <h2><em>Yes, that LaCroix may actually be killing your teeth.</em></h2>
                        
                        <p>
                            There are many reasons to want to whiten your teeth &ndash; but before you look at the how, let&rsquo;s 
                            look at why you got to this place.
                        </p>

                        <p>
                            Tooth enamel is a finite substance that can be worn down by foods, drinks, and smoking. It may be the 
                            hardest stuff in the human body, but it still maxes out at 2mm thick. Enamel is also a mineral, so it 
                            can&rsquo;t grow back. That means all of the erosion from food, drinks (yes, even LaCroix), and other 
                            factors is permanent.
                        </p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
    
                        <h2>Causes of Enamel Loss</h2>

                        <h3>Acid</h3>
                        <p>
                            Acid is the number one reason for the erosion of tooth enamel. But where does the acid come from? There 
                            are a variety of causes, and some include:
                        </p>
                        
                        <ul>
                            <li>Acid Reflux</li>
                            <li>Issues with the GI tract</li>
                            <li>Acidic medications (inc. aspirin and antihistamines)</li>
                            <li>Low Saliva/Dry Mouth</li>
                            <li>Genetics</li>
                            <li>Teeth Grinding</li>
                        </ul>

                        <h3>Developments Before You Were Born</h3>
                        <p>
                            You may also have weak levels of tooth enamel because of what happened to you in utero; Mothers who have 
                            poor nutritional habits may leave their babies under&ndash;developed.
                        </p>

                        <h3>Celiac Disease</h3>
                        <p>
                            Celiac Disease, where the person&rsquo;s gut becomes intolerant to gluten, is another contributing factor 
                            to enamel erosion. Researchers have yet to understand the exact link but surmise it may have something to 
                            do with malabsorption issues which starve teeth of vital nutrients.
                        </p>
                        
                        <h3>Food</h3>
                        <p>What you eat is also a huge contributor to enamel erosion. Specifically be aware of:</p>
                        
                        <p><strong>Soda</strong></p>
                        <p>
                            Whether they&rsquo;re diet or regular, sodas are very dangerous to tooth enamel. One study even found they 
                            can be worse on the teeth than drug abuse &ndash; another study produced results that showed soda could be 
                            ten times worse for enamel than fruit juice.
                        </p>

                        <p><strong>Fruit Juice</strong></p>
                        <p>
                            Filled with sugar, though not as bad as soda, these drinks can still create high acid production inside 
                            your mouth.
                        </p>
                        
                        <p><strong>Flavored Water</strong></p>
                        <p>
                            Despite not having any sugar, they do contain citric acid which creates acid inside your mouth. Sadly, 
                            this even means LaCroix.
                        </p>

                        <p><strong>Citrus Fruits</strong></p>
                        <p>
                            Despite being healthier than sugary sweets, they come with a lot of acids and can cause enamel erosion.
                        </p>

                        <p><strong>Sugary Snackables</strong></p>
                        <p>
                            If you&rsquo;re eating sticky, chewy sweets with lots of sugar, you&rsquo;re putting a substance inside 
                            your mouth that sticks to your teeth and harms the enamel.
                        </p>

                        <p><strong>Starch Snackables</strong></p>
                        <p>
                            Avoid carb-heavy foodstuffs (white bread, crackers, chips) because they can stay in the mouth producing acid.
                        </p>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
