<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Five Ways to Keep Your Teeth Clean After Whitening</h1>
                        <p>So you&rsquo;ve had your teeth whitened, and they&rsquo;re looking amazing! Congratulations! But how do you keep them that way?</p>
                        <p>The short answer is: you can&rsquo;t. Over time, the same elements that went into discoloring them in the first place (diet, drinks, smoking, etc.) will gradually remove the sparkling white, and you&rsquo;ll have to have your teeth whitened all over again. However, the good news is that there are ways and means of prolonging that from happening anytime soon.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <h2>Eat/Drink Well</h2>
                        <p>You&rsquo;re going to want to try avoiding eating anything that works against you &ndash; or, at the very least, keep them down to a minimum. This includes coffee, tea, red wine and sodas (regular or diet). &nbsp;</p>
                        <p>In fact, you can introduce foods to your diet that help protects teeth. Celery and apples are fantastic for whiter teeth as the chewing motions aid in removing tartar from the teeth and the saliva that&rsquo;s created washes it all away. That saliva also acts as an agent in fighting off acids that are looking to erode your enamel.</p>
                        <h2>Use A Straw</h2>
                        <p>When drinking coffee or sodas, try using a straw to minimize contact with your teeth.</p>

                        <h2>Brush Often</h2>
                        <p>Whenever you imbibe/consume foods or drinks that can cause stains, be sure to brush. Dentists recommend brushing at least twice a day and flossing daily too. This way you can remove unwanted plaque.</p>
                        <p>Looking for tips on the correct ways to brush your teeth?</p>
                        <ul>
                        <li>Brush for two minutes (that&rsquo;s 120 seconds).</li>
                        <li>Use a 45-degree angle when brushing around the gums.</li>
                        <li>Don&rsquo;t brush too hard &ndash; go soft, so you don&rsquo;t harm gums or enamel.</li>
                        <li>Utilize smaller there-and-back motions when brushing the outside, the inside and the chewing surface of each tooth.</li>
                        </ul>
                        <p>Some dentists recommend keeping a toothbrush kit at work so you can clean them after lunch. If you can&rsquo;t, rinse out your mouth with lukewarm water as it&rsquo;s better than nothing!</p>
                        <h2>Mouthwash/Toothpaste</h2>
                        <p>Moving forward you&rsquo;ll want to use an anti-septic mouthwash once a day (this also removes the bacteria that causes the unwanted plaque). Also use a whitener toothpaste about once or twice a week to aid in getting rid of surface stains and yellowing. Use a normal toothpaste at all other times.</p>
                        <h2>Follow-Ups</h2>
                        <p>Touch up treatments can be used after a year or so every six months. If your use of cigarettes or beverages such as soda, fruit juice, and coffee remains elevated, you might need to touch up even more often than that.</p>
                        <p>You can also use touch ups at home; from whitening toothpaste to whitening gels and even touch-up pens.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h2>Research</h2>
                        <p><a href="http://www.webmd.com/oral-health/tips-keep-teeth-white" target="_blank">http://www.webmd.com/oral-health/tips-keep-teeth-white</a></p>
                        <p><a href="http://www.beaversdentistry.com/blog/5-tips-for-healthy-white-teeth" target="_blank">http://www.beaversdentistry.com/blog/5-tips-for-healthy-white-teeth</a></p>
                        <p><a href="http://www.colgate.com/en/us/oc/oral-health/cosmetic-dentistry/teeth-whitening/article/how-do-i-maintain-my-newly-whitened-smile" target="_blank">http://www.colgate.com/en/us/oc/oral-health/cosmetic-dentistry/teeth-whitening/article/how-do-i-maintain-my-newly-whitened-smile</a></p>
                        <p><a href="https://www.realself.com/forum/tips-maintain-teeth-whitening-results" target="_blank">https://www.realself.com/forum/tips-maintain-teeth-whitening-results</a></p>
                        <p><a href="https://mydental.guardianlife.com/blog/2016/08/what-are-the-best-ways-to-maintain-teeth-whitening-results/" target="_blank">https://mydental.guardianlife.com/blog/2016/08/what-are-the-best-ways-to-maintain-teeth-whitening-results/</a></p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
