<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h1>Where Did My Tooth Enamel Go?</h1>
                        <p>There are many reasons to want to whiten your teeth &ndash; but before you look at the how, let&rsquo;s look at why you got to this place.</p>
                        <p>Tooth enamel is a finite substance that can be worn down by foods, drinks, and smoking. The sugar in soda, for example, clings to the teeth and begins wearing down the enamel if not removed regularly. In fact, sodas amount for the biggest cause of tooth enamel erosion.</p>
                        <p>There are a few distinguishing features to tooth enamel:</p>
                        <ul>
                        <li>It&rsquo;s the hardest stuff in the human body.</li>
                        <li>At its thickest, it&rsquo;s just 2mm.</li>
                        <li>It can be colored yellow, white or hues of blue or gray.</li>
                        </ul>
                        <p>Enamel is a mineral which means it can not grow back. Thankfully it&rsquo;s a tough substance, but it&rsquo;s not immune to erosion.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->

                        <h2>Causes of Enamel Loss</h2>
                        <p>Acid is the number one reason for the erosion of tooth enamel. But where does the acid come from? There are a variety of causes, and some include:</p>
                        <ul>
                        <li>Acid Reflux</li>
                        <li>Issues with the GI tract</li>
                        <li>Acidic medications (inc. aspirin and antihistamines)</li>
                        <li>Low Saliva/Dry Mouth</li>
                        <li>Genetics</li>
                        <li>Teeth Grinding</li>
                        </ul>
                        <p>And it doesn&rsquo;t stop there. Outside environmental elements can also play a factor in erosion. For example, from the way you brush your teeth (too hard or too often), to stress all influence your level of tooth enamel erosion.</p>
                        <p>You may also have weak levels of tooth enamel because of what happened to you in utero; Mothers who have poor nutritional habits may leave their babies under-developed.</p>
                        <p>Celiac Disease, where the person&rsquo;s gut becomes intolerant to gluten, is another contributing factor to enamel erosion. Researchers have yet to understand the exact link but surmise it may have something to do with malabsorption issues which starve teeth of vital nutrients.</p>
                        <p>Food is also a huge contributor to enamel erosion. Specifically be aware of:</p>
                        <p><strong>Soda</strong> &ndash; whether they&rsquo;re diet or regular, sodas are very dangerous to tooth enamel. One study even found they can be worse on the teeth than drug abuse &ndash; another study produced results that showed soda could be ten times worse for enamel than fruit juice.</p>
                        <p><strong>Fruit Juice</strong> &ndash; Filled with sugar, though not as bad as soda, these drinks can still create high acid production inside your mouth.</p>
                        <p><strong>Flavored Water</strong> &ndash; Despite not having any sugar, they do contain citric acid which creates acid inside your mouth.</p>
                        <p><strong>Citrus Fruits</strong> &ndash; Despite being healthier than sugary sweets, they come with a lot of acids and can cause enamel erosion.</p>
                        <p><strong>Sugary Snackables</strong> &ndash; If you&rsquo;re eating sticky, chewy sweets with lots of sugar, you&rsquo;re putting a substance inside your mouth that sticks to your teeth and harms the enamel.</p>
                        <p><strong>Starch Snackables</strong> &ndash; Avoid carb-heavy foodstuffs (white bread, crackers, chips) because they can stay in the mouth producing acid.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2>Research</h2>
                        <p><a href="http://www.arizonafamilydental.com/blog/weak-enamel-truth-about-tooth-erosion/" target="_blank">http://www.arizonafamilydental.com/blog/weak-enamel-truth-about-tooth-erosion/</a></p>
                        <p><a href="https://www.orawellness.com/can-tooth-whitening-treatments-destroy-your-teeth/" target="_blank">https://www.orawellness.com/can-tooth-whitening-treatments-destroy-your-teeth/</a></p>
                        <p><a href="http://empoweredsustenance.com/restore-enamel-naturally/" target="_blank">http://empoweredsustenance.com/restore-enamel-naturally/</a></p>
                        <p><a href="http://www.webmd.boots.com/oral-health/guide/tooth-enamel-erosion-restoration" target="_blank">http://www.webmd.boots.com/oral-health/guide/tooth-enamel-erosion-restoration</a></p>
                        <p><a href="https://wellnessmama.com/3650/remineralize-teeth/" target="_blank">https://wellnessmama.com/3650/remineralize-teeth/</a></p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
