<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Six Ways to Whiten Teeth Naturally</h1>
                        <p>Are you one of the 18% of people who feel that they have to cover up their teeth in photos? Teeth are very noticeable, and if you&rsquo;re feeling self-conscious about them, it can stop you smiling &ndash; and that&rsquo;s a powerful means of communication that you&rsquo;re shutting down.</p>
                        <p>Thinning enamel, bad gums, yellow or brown stains can all be causes of bad teeth so you may need a lot more than just cosmetic maintenance. If on the other hand, you have some minor discoloration thanks to coffee or smoking, there are a handful of ways to try whitening your teeth naturally.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <h2>Brush More Often</h2>
                        <p>It&rsquo;s simple, but you&rsquo;d be surprised how many people don&rsquo;t brush often enough (or at all!).</p>
                        <h2>Change Your Diet</h2>
                        <p>Quitting smoking and cutting down on coffee and sodas can help immensely. If you can&rsquo;t stop completely, use a straw with the drinks. Drinking water after eating/drinking something that can stain your teeth also helps.</p>
                        <h2>Baking Soda/Hydrogen Peroxide</h2>
                        <p>As an antibacterial agent, Hydrogen Peroxide is very effective at cleaning the mouth from germs. Simply put together a cup that&rsquo;s half-water and half-peroxide, swish it around the mouth for sixty seconds, then spit. It&rsquo;s also helpful in protecting against gingivitis.</p>
                        <p>You can also add a tiny amount of baking soda to the peroxide to create a paste that aids in removing plaque from the teeth. Before using this method, brush your teeth first and be sure to make a perfect mix because too much baking soda can lead to its grittiness scrubbing the enamel from your teeth.</p>
                        <h2>Coconut Oil</h2>
                        <p>Some research is showing that a spoonful of coconut oil swished around the mouth/gums for five to twenty minutes can serve as a natural teeth whitener. You can also just apply the coconut oil to a toothbrush or the corner of a small hand-towel that&rsquo;s then rubbed into the teeth.</p>
                        <h2>Apple Cider Vinegar</h2>
                        <p>Apple Cider vinegar is a great natural antibiotic and able to remove some stains, especially ones caused by smoking. The active ingredients include acetic acids which both kill bad germs and nurture the growth of good bacteria (probiotic). Be aware &ndash; as you should with any acids &ndash; that overuse can harm the tooth enamel. Whenever you use it, brush with regular toothpaste and rinse your mouth out.</p>
                        <h2>Lemon/Orange Peels</h2>
                        <p>Citrus oils are also noted for their cleansing ability &ndash; and this even includes lemon essential oil. Again, be aware of using these too much or often as their high acid content can corrode the tooth&rsquo;s enamel. Just as you should with apple cider vinegar, be sure to rinse your mouth after using them.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h2>Research</h2>
                        <p><a href="https://draxe.com/6-ways-to-naturally-whiten-your-teeth/" target="_blank">https://draxe.com/6-ways-to-naturally-whiten-your-teeth/</a></p>
                        <p><a href="http://www.menshealth.com/style/surprising-ways-to-whiten-teeth" target="_blank">http://www.menshealth.com/style/surprising-ways-to-whiten-teeth</a></p>
                        <p><a href="http://everydayroots.com/teeth-whitening-at-home" target="_blank">http://everydayroots.com/teeth-whitening-at-home</a></p>
                        <p><a href="http://www.womansday.com/style/beauty/g517/10-tips-for-whiter-teeth-1696/" target="_blank">http://www.womansday.com/style/beauty/g517/10-tips-for-whiter-teeth-1696/</a></p>
                        <p><a href="http://www.healthline.com/nutrition/whiten-teeth-naturally" target="_blank">http://www.healthline.com/nutrition/whiten-teeth-naturally</a></p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
