<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">

                        <h1>Five Differences between Over&ndash;The&ndash;Counter and In&ndash;Office Teeth Whitening</h1>
                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <!-- article image -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <img src="/teethwhitening_blog2_s.jpg" alt="" style="width: 100%;">

                        <p>
                            Let&rsquo;s drill down (no pun intended) into the main differences between going to the dentist or using 
                            over&ndash;the&ndash;counter methods to deal with teeth whitening.&nbsp;
                        </p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">

                        <h2>1. Bleaching Agent Strength</h2>
                        <p>
                            Anything that&rsquo;s over&ndash;the&ndash;counter or, indeed, prescribed for in&ndash;home use by your 
                            dentist contains a weaker bleaching agent. Typically, that means about 3% of hydrogen peroxide, including 
                            from 10% up to 22% of carbamide peroxide. Conversely, if you go for the in&ndash;office option, these teeth 
                            whitening solutions hold much higher concentrations of hydrogen peroxide, running from 15% all the way up 
                            to 43%.
                        </p>
                        <hr>

                        <h2>2. Trays For The Mouth</h2>
                        <p>
                            When the dentist makes you a tray for use at home, they will customize it to fit your mouth/teeth perfectly. 
                            By doing this, it minimizes any gaps between the tray/solution and your teeth, so the coverage area is 
                            closer to 100%. The whitening gel is then placed on both your teeth and in the tray.
                        </p>
                       
                        <p>
                            Because the tray is customized, it also minimizes the gel coming into contact with your gums. If, however, 
                            you purchase an over&ndash;the&ndash;counter tray, you&rsquo;re effectively buying a 
                            one&ndash;size&ndash;fits&ndash;all solution. That means there&rsquo;ll most likely be areas of your teeth 
                            that don’t come into contact with the gel and may not get as white as the rest of the tooth. This can also 
                            cause gum irritation because the gel finds it easier to find its way into the soft tissue without protection 
                            there to shield it.
                        </p>
                        <hr>

                        <h2>3. Additional Protection</h2>
                        <p>
                            Over&ndash;the&ndash;counter products are limited by what extra protection they can offer. Alternately, if 
                            you&rsquo;re seeing your dentist for an in&ndash;office visit, you can get additional protection thanks to 
                            a gel (which is applied to the gum&rsquo;s soft tissue) or a rubber shield (placed over the teeth). 
                            Both are put in place before the treatment to help limit any damage to the gums and oral cavity from effects 
                            due to bleaching.
                        </p>
                        <hr>

                        <h2>4. Length of Time</h2>
                        <p>
                            If you&rsquo;re taking care of your teeth at home (either via over&ndash;the&ndash;counter products or 
                            dentist&ndash;supervised trays), you&rsquo;re looking at around a month of overnight treatments or daily 
                            for up to two hours. If you choose to go the in&ndash;office route, however, you can shorten this time 
                            dramatically as the whitening agent is put directly onto the teeth.
                        </p>

                        <p>
                            With the additional use of heat, a special light, and a laser, the in&ndash;office treatment results can 
                            be seen within just an hour. For more dazzling results you will need to schedule a series of appointments, 
                            but laser&ndash;enhanced bleaching is probably the fastest way to go.
                        </p>
                        <hr>

                        <h2>5. Price</h2>
                        <p>
                            This is generally what it all comes down to:
                            <ul>

                                <li>
                                    <strong>Over&ndash;the&ndash;counter options</strong>
                                    are the least expensive; expect to pay anywhere from $20 to $150.
                                </li>

                                <li>
                                    <strong>Dentist&ndash;Supervised At&ndash;Home Treatments</strong>
                                    can vary depending on your location and how much work you need to be done but expect to pay 
                                    roughly $150&ndash;$300 per set of teeth (upper and lower) or $350&ndash;$600 for the entire mouth.                                    
                                </li>

                                <li>
                                    <strong>In&ndash;Office Treatments</strong>
                                    range from $200&ndash;$500 for one arch or $500&ndash;$1,000 for the entire mouth.
                                </li>
                            </ul>
                        </p>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>


        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>

</html>
