<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Teeth Whitening Treatments Overview</h1>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <p>Are you pondering what the best way to whiten teeth is? You have two basic choices &ndash; over the counter remedies or a visit to the dentist &ndash; so which works best?</p>
                        <p>The good news is that both work &ndash; depending on how much you need doing. The more cost-effective method is purchasing something at the drugstore as long as you keep to the directions provided. The other concern you should be aware of is how long/often you&lsquo;ll need to apply these treatments as teeth don&rsquo;t stay white forever, despite how much they&rsquo;ve been cleaned and whitened.</p>
                        <h2>Over the Counter</h2>
                        <p><strong>Whitening Toothpaste</strong> &ndash; surface stains caused by coffee or cigarettes (or both!) can be removed with whitening toothpaste. This is partially down to the presence of blue covarine, a chemical that clings to the teeth and tones down the yellow hues you may have. Use whitening toothpaste twice a day, and you&rsquo;ll begin to see effects in two to six weeks (unless it has blue covarine in which case you&rsquo;ll notice effects very rapidly). Do be aware, however, that whitening toothpaste is very surface in its approach &ndash; it won&rsquo;t alter the natural tooth color nor affect a stain that is inherently deeper than the surface.</p>
                        <p><strong>Whitening Strips</strong> &ndash; these are regarded as mostly safe and often work even better than whitening toothpaste as they bleach your teeth. Again, be sure to follow the directions.</p>
                        <h2>Dentist</h2>
                        <p>A trip to the dentist may be more expensive, but they use methods that can be far more effective and longer-lasting than over-the-counter solutions.</p>
                        <p><strong>In-Home Treatment</strong> &ndash; First your dentist makes an impression of your teeth. They then use that to create a tray that you take home with you in which you place a solution. Part of that solution is a chemical called carbamide peroxide which is a bleaching agent &ndash; and that&rsquo;s what you sink your teeth into every night as you go to bed but placing the tray in your mouth. It takes around two weeks to see major differences, and you can expect them to last for around two years.</p>
                        <p><strong>Teeth Bleach</strong> &ndash; This procedure takes place entirely at your dentist&rsquo;s and utilizes a solution containing hydrogen peroxide. The peroxide is the active ingredient in teeth bleaching and takes around four visits/treatments to fully finish (each treatment takes around half an hour). &nbsp;</p>
                        <p>Be aware that the solution is quite powerful and could accidentally burn your gums, so your dentist will protect them with a special barrier during the visit. There&rsquo;s a second risk too; it can make your teeth very sensitive. Makers of these solutions try to mitigate those risks by adding potassium nitrate and fluoride to the mixture.</p>
                        <h2>In Summary</h2>
                        <p>Take note that no matter what method you use to whiten your teeth, no options that are available last forever. In time, diet and aging will make your teeth darken again, so you&rsquo;ll have to do it all over again at some point.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2>RESEARCH</h2>
                        <p><a href="http://newsnetwork.mayoclinic.org/discussion/mayo-clinic-q-and-a-many-safe-choices-available-to-help-whiten-teeth/" target="_blank">http://newsnetwork.mayoclinic.org/discussion/mayo-clinic-q-and-a-many-safe-choices-available-to-help-whiten-teeth/</a></p>
                        <p><a href="http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html" target="_blank">http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html</a></p>
                        <p><a href="http://yoursmilebecomesyou.com/procedures/teeth-whitening/" target="_blank">http://yoursmilebecomesyou.com/procedures/teeth-whitening/</a></p>
                        <p><a href="http://www.yourdentistryguide.com/professional-whitening/" target="_blank">http://www.yourdentistryguide.com/professional-whitening/</a></p>
                        <p><a href="https://my.clevelandclinic.org/health/articles/teeth-whitening" target="_blank">https://my.clevelandclinic.org/health/articles/teeth-whitening</a></p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>


</html>
