<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">
                        <h1>Teeth Whitening at the Dentist or At Home?</h1>
                        
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <!-- article image -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <img src="/teethwhitening_blog1_s.jpg" alt="" style="width: 100%;">

                        <h2>Which is really the better option?</h2>
                        
                        <p>
                            Are you pondering what the best way to whiten teeth is? You have two basic choices: over the counter 
                            remedies or a visit to the dentist. So which works best?
                        </p>

                        <p>
                            The good news is that both do the job &ndash; depending on how much whitening needs to happen. The more 
                            cost&ndash;effective method is purchasing something at the drugstore as long as you keep to the directions 
                            provided. The other concern you should be aware of is how long/often you&rsquo;ll need to apply these 
                            treatments as teeth don&rsquo;t stay white forever, despite how much they&rsquo;ve been cleaned and whitened.
                        </p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">

                        <h2>Over the Counter Methods</h2>

                        <h3>Whitening Toothpaste</h3>
                        <p>
                            Surface stains caused by coffee or cigarettes (or both!) can be removed with whitening toothpaste. This is 
                            partially down to the presence of blue covarine, a chemical that clings to the teeth and tones down the 
                            yellow hues you may have. Use whitening toothpaste twice a day and you&rsquo;ll begin to see effects in two 
                            to six weeks (unless it has blue covarine in which case you&rsquo;ll notice effects very rapidly). Do be 
                            aware, however, that whitening toothpaste is very surface in its approach. It won&rsquo;t alter the natural 
                            tooth color nor affect a stain that is inherently deeper than the surface.
                        </p>

                        <h3>Whitening Strips</h3>
                        <p>
                            These are regarded as mostly safe and often work even better than whitening toothpaste as they bleach your 
                            teeth. Again, be sure to follow the directions.
                        </p>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">

                        <h2>Dentist's Office Treatments</h2>
                        <p>
                            A trip to the dentist may be more expensive, but they use methods that can be far more effective and 
                            longer&ndash;lasting than over&ndash;the&ndash;counter solutions. 
                        </p>

                        <h3>In&ndash;Home Treatment</h3>
                        <p>
                            First your dentist makes an impression of your teeth. They then use that to create a tray that you take 
                            home with you in which you place a solution. Part of that solution is a chemical called carbamide peroxide 
                            which is a bleaching agent &ndash; and that&rsquo;s what you sink your teeth into every night as you go to 
                            bed but placing the tray in your mouth. It takes around two weeks to see major differences, and you can 
                            expect them to last for around two years. 
                        </p>

                        <h3>Teeth Bleach</h3>
                        <p>
                            This procedure takes place entirely at your dentist&rsquo;s and utilizes a solution containing hydrogen 
                            peroxide. The peroxide is the active ingredient in teeth bleaching and takes around four visits/treatments 
                            to fully finish (each treatment takes around half an hour).  
                        </p>

                        <p>
                            Be aware that the solution is quite powerful and could accidentally burn your gums, so your dentist will 
                            protect them with a special barrier during the visit. There&rsquo;s a second risk too: it can make your 
                            teeth very sensitive. Makers of these solutions try to mitigate those risks by adding potassium nitrate 
                            and fluoride to the mixture.
                        </p>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>
        
        <%- include ../ezoic/middle-page %>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-md-8">

                        <h2>The Verdict</h2>
                        <p>
                            Take note that no matter what method you use to whiten your teeth, no options that are available last 
                            forever. In time, diet and aging will make your teeth darken again, so you&rsquo;ll have to do it all over 
                            again at some point.
                        </p>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>


</html>
