<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Five Differences between OTC and In-Office Teeth Whitening</h1>
                        <p>Let&rsquo;s drill down (no pun intended) into the main differences between going to the dentist or using over-the-counter methods to deal with teeth whitening.&nbsp;</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <h2>Bleaching Agent Strength</h2>
                        <p>Anything that&rsquo;s over-the-counter or, indeed, prescribed for in-home use by your dentist, contains a less-strong bleaching agent. Typically, that means about 3% of hydrogen peroxide; including from 10% up to 22% of carbamide peroxide. Conversely, if you go for the in-office option, these teeth whitening solutions hold much higher concentrations of hydrogen peroxide, running from 15% all the way up to 43%.</p>
                        <h2>Trays For The Mouth</h2>
                        <p>When the dentist makes you a tray for use at home, they will customize it to fit your mouth/teeth perfectly. By doing this, it minimizes any gaps between the tray/solution and your teeth, so the coverage area is closer to 100%. The whitening gel is then placed on both your teeth and in the tray.</p>
                        <p>The tray, once it&rsquo;s been custom-made, also minimizes the gel coming into contact with your gums. If, however, you purchase an over-the-counter tray, you&rsquo;re effectively buying a one-size-fits-all which means there&rsquo;ll most likely be areas of your teeth that don&rsquo;t come into contact with the gel. This can also cause gum irritation because the gel finds it easier to find its way into the soft tissue without protection there to shield it.</p>
                        <h2>Additional Protection</h2>
                        <p>Over-the-counter products are limited by what extra protection they can offer. Alternately, if you&rsquo;re seeing your dentist for an in-office visit, you can get additional protection thanks to a gel (which is applied to the gum's soft tissue) or a rubber shield (placed over the teeth). Both are put in place before the treatment to help limit any damage to the gums and oral cavity from effects due to bleaching.</p>
                        <h2>Length Of Time</h2>
                        <p>If you&rsquo;re taking care of your teeth at home (either via over-the-counter products or dentist-supervised trays), you&rsquo;re looking at around a month of overnight treatments or daily for up to two hours. If you choose to go the in-office route, however, you can shorten this time dramatically as the whitening agent is put directly onto the teeth.</p>
                        <p>With the additional use of heat, a special light, and a laser, the in-office treatment results can be seen within just an hour. For more dazzling results you will need to schedule a series of appointments &ndash; but laser-enhanced bleaching is probably the fastest way to go.</p>
                        <h2>Price</h2>
                        <p>This is generally what it all comes down to:</p>
                        <p>Over-the-counter options are the least experience; expect to pay anywhere from $20 to $150.</p>
                        <p>Dentist-Supervised At-Home Treatments can vary depending on your location and how much work you need to be done but expect to pay roughly $150-$300 per set of teeth (upper and lower) or $350-$600 for the entire mouth.</p>
                        <p>In-Office Treatments Going to the dentist for a bleaching ranges from $200-$500 for one arch or $500-$1,000 for the entire mouth.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h2>Research</h2>
                        <p><a href="https://my.clevelandclinic.org/health/articles/teeth-whitening" target="_blank">https://my.clevelandclinic.org/health/articles/teeth-whitening</a></p>
                        <p><a href="https://www.dentalaegis.com/cced/2014/06/clinical-effectiveness-of-flash-teeth-whitening-a-novel-method-for-teeth-bleaching" target="_blank">https://www.dentalaegis.com/cced/2014/06/clinical-effectiveness-of-flash-teeth-whitening-a-novel-method-for-teeth-bleaching</a></p>
                        <p><a href="https://www.orawellness.com/can-tooth-whitening-treatments-destroy-your-teeth/" target="_blank">https://www.orawellness.com/can-tooth-whitening-treatments-destroy-your-teeth/</a></p>
                        <p><a href="https://www.dentalaegis.com/cced/2014/06/clinical-effectiveness-of-flash-teeth-whitening-a-novel-method-for-teeth-bleaching" target="_blank">https://www.dentalaegis.com/cced/2014/06/clinical-effectiveness-of-flash-teeth-whitening-a-novel-method-for-teeth-bleaching</a></p>
                        <p><a href="https://patient.info/health/teeth-whitening" target="_blank">https://patient.info/health/teeth-whitening</a></p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>

</html>
