<!-- <!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>
        
        <section id="contact-us-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4><img src="/icon_communitysupport.png" style="width: 30px; height: 30ox;" alt=""> Community Support</h4>
                        <p> Health / Community Support</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1>Teeth Whitening Communities &amp; Support</h1>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <img src="/ed_communitysuport_s.jpg" alt="" style="width: 100%;">
                        <p>
                            There are a number of online communities, and support groups focused on 
                            teeth whitening that you can turn to for information and more. In no 
                            particular order, here is a handful:
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <!-- <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2></h2>
                        
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section> -->


        <!-- Website Name 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1></h1>

                        <h2>Real Self</h2>
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="https://www.realself.com/teeth-whitening/forum" target="_blank">
                                https://www.realself.com/teeth-whitening/forum
                            </a>
                        </p>
                        <p><strong>Community Description: </strong>A teeth whitening forum.</p>
                        <p><strong>Background: </strong>Hosted by RealSelf, this site provides a home for those interested in teeth whitening.</p>
                        <p><strong>General Comments: </strong>Delivers up both discussions and a place to find local dentists.</p>
                        <p><strong>What It Does Best: </strong>The forums here update regularly and provide a comprehensive platform to any and all questions you might have.</p>
                        <p><strong>What It's Known For: </strong>It reviews dentists, procedures, and more.</p>
                        <p><strong>The Drawback: </strong>The forum is not very active. Many of the "recent" posts are a couple years old</p>
                        
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- Website Name 2 With Link -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1></h1>

                        <h2>Teeth Whitening Reviews</h2>
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="http://www.teethwhiteningreviews.com/messageboard/index.php" target="_blank">
                                http://www.teethwhiteningreviews.com/messageboard/index.php
                            </a>
                        </p>
                        <p><strong>Community Description: </strong>An online forum for teeth whitening.</p>
                        <p><strong>Background: </strong>They have over 903,500 users with over 275 topics and 1034 posts.</p>
                        <p><strong>General Comments: </strong>The forum looks very sparse for something that claims to have over 900,000 registered users.</p>
                        <p><strong>What It Does Best: </strong>Provides a platform for discussing teeth whitening with others who are either thinking about it or have had it done.</p>
                        <p><strong>What It's Known For: </strong>Posting reviews about different methods of teeth whitening.</p>
                        <p><strong>The Drawback: </strong>The forum is not very well-moderated and has many spam comments.</p>
                        
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html> -->
