<!-- <!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Erectile Dysfunction Community &amp; Support</h1>
                        <p>Navigating the symptoms and treatments of Erectile Dysfunction doesn&rsquo;t have to be a solitary endeavor. Many groups exist to help individuals with ED by encouraging counseling that teaches stress reduction, coping skills including gradual development of intimacy, and stimulation techniques. These groups are open where participants can freely, anonymously relate personal experiences.</p>
                        <p>It is important to note that they are not a substitute for medical advice and consulting with a physician.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="/ed_communitysuport_s.jpg" alt="" style="width: 100%;">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2>ED Questions Erectile Dysfunction Guide Forum</h2>

                        <p><strong>Website:&nbsp;</strong><a href="http://www.edquestions.com/" target="_blank">http://www.edquestions.com/</a></p>
                        <p>EDQ provides a general discussion on multiple topics, such as the influence of testosterone, anxiety, cognitive therapy, Canadian costs of medications, and sensitive support network. The site provides themes and content that is posted and related to participant&rsquo;s personal experiences. Threaded discussions reflect the individual situations. Therefore, the information presented is not a substitute for medical advice.</p>
                        <p><strong>What It Does Best: </strong>Open thread discussion on any topic serves to build confidence while easing worries, stress, and fears</p>
                        <p><strong>Main Features: </strong>Discussion and reviews of credible, reputable books on ED for participants to seek out for further self-education and reading</p>
                        <p><strong>Drawback: </strong>Lots of information, navigation may be difficult, geared to adults due to pornography topics</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1></h1>


                        <h2>Daily Strength Impotence and Erectile Dysfunction Support Group</h2>
                        <p><strong>Website:&nbsp;</strong><a href="https://www.dailystrength.org/group/impotence-erectile-dysfunction/discussion/erectile-dysfunct_10" target="_blank">https://www.dailystrength.org/group/impotence-erectile-dysfunction/discussion/erectile-dysfunct_10</a></p>
                        <p>Extremely frank discussions regarding relationships, intimacy, alternative pleasures and sexual satisfaction are ongoing threads. Contains helpful, informative dialogs on counterfeit drugs, the financials of drug pricing, reputable pharmacy checker certifications to purchase prescriptions from, and sources of drugs.</p>
                        <p>This online community also approaches health conditions, diabetes, heart disease, depression, and surgeries. Member communications forums are supportive with threads of encouragement from those in similar situations. There is a camaraderie that is evident in the text from the struggles and solutions offered.</p>
                        <p><strong>What It Does Best: </strong>Well-participated, active discussions and forums</p>
                        <p><strong>Main Features: </strong>Empathy, explanations, and solutions</p>
                        <p><strong>Drawback: </strong>Broad focus on multiple conditions, up to the reader to assess the information presented as up-to-date, relevant, and accurate</p>
                        <h2>MD Junction People Helping People ED Support Forum</h2>
                        <p><strong>Website</strong>: <a href="http://www.mdjunction.com/" target="_blank">http://www.mdjunction.com/</a></p>
                        <p>MD Junction&rsquo;s motto is <em>&ldquo;A community of patients, family members, and friends dedicated to dealing with Erectile Dysfunction, together.&rdquo; </em>The site encourages users to discuss any aspect of ED, from asking questions to venting about personal issues.</p>
                        <p>Users can find discussions on drugs, relationships, cancer, and the journey from being newly diagnosed through avenues of treatment. Anxiety, beta-blockers, all personal situations are on the table in a nonjudgmental environment. Free from embarrassment, the shame of many patients with ED quickly dissipates within the support network. Participants are allowed and encouraged to vent. Partners ask questions and advice. Connections are palpable between users..</p>
                        <p>The community makes sure the men with ED see they are never alone and that there are successful ways to treat ED on an individualized basis.</p>
                        <p><strong>What It Does Best: </strong>Write about anything you like, safe way for men to express themselves, feel less alone</p>
                        <p><strong>Main Features: </strong>Private, personal, discussion forums</p>
                        <p><strong>Drawback: </strong>Watch for sponsored content, anecdotal advice, and stories</p>
                        <h2>Erectile Dysfunction Support Group</h2>
                        <p><strong>Website</strong>: <a href="https://erectile-dysfunction.supportgroups.com" target="_blank">https://erectile-dysfunction.supportgroups.com</a></p>
                        <p><strong>Community Description</strong>: This is a support group that&rsquo;s there for you no matter where you are in your experiences with erectile dysfunction &ndash; from men who are just realizing they may have it to men who&rsquo;ve suffered from it for years.</p>
                        <p><strong>Background</strong>: The main website Support Groups.com features a wide variety of different support groups you can join, ranging from stress to depression and from PTSD to divorce.</p>
                        <p><strong>General Comments</strong>: It&rsquo;s a wide-ranging forum featuring all sorts of personal stories, information, surveys and more.</p>
                        <p><strong>What It Does Best</strong>: Provides a community of fellow erectile-dysfunction sufferers in a safe, anonymous (if wanted) environment.</p>
                        <p><strong>What It&rsquo;s Known For</strong>: It&rsquo;s a large but welcoming group that&rsquo;s free and filled with great and honest feedback.</p>
                        <p><strong>The Drawback</strong>: Any information you find supplied on the web by laymen isn&rsquo;t going to be scientific so be sure to check with your doctor if you come across any news that seems to offer help.</p>
                        <h2>PEGym</h2>
                        <p><strong>Website</strong>: <a href="https://www.pegym.com/forums/erectile-dysfunction-forum/" target="_blank">https://www.pegym.com/forums/erectile-dysfunction-forum/</a></p>
                        <p><strong>Community Description</strong>: This site has a community for those with erectile dysfunction but is focused on penis enlargement.</p>
                        <p><strong>Background</strong>: The website was set up for penis enlargement, but penis size has nothing to do with erectile dysfunction so don&rsquo;t confuse the two issues.</p>
                        <p><strong>General Comments</strong>: There are some good threads to follow but be wary of anyone trying to peddle penis enlargement drugs.</p>
                        <p><strong>What It Does Best</strong>: Doles out information and support for those suffering from erectile dysfunction.</p>
                        <p><strong>What It&rsquo;s Known For</strong>: It&rsquo;s more known for its penis enlarging articles and forums than erectile dysfunction.</p>
                        <p><strong>The Drawback</strong>: You&rsquo;ll be inundated with ads for penis enlargement.</p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html> -->
