<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2>There are a number of digital apps you can use that will help you get your teeth whiter. Some popular apps are listed below.</h2>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Landing Paragraph -->
        <section id="article-landing">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- App Name 2 -->
        <section id="article-app-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <img src="../img/ed_apps_1.png" alt="">
                        <div class="App">
                            <h1>Teeth Whitening Care</h1>

                            <p>&nbsp;<strong>WEBSITE:</strong> <a href="https://play.google.com/store/apps/developer?id=Digital+Professional+Apps" target="_blank">https://play.google.com/store/apps/developer?id=Digital+Professional+Apps</a></p>
                            <p><strong>ITUNES:</strong> N/A</p>
                            <p><strong>GOOGLE PLAY:</strong> <a href="https://play.google.com/store/apps/details?id=com.Teeth.Whitening.Care&amp;hl=en" target="_blank">https://play.google.com/store/apps/details?id=com.Teeth.Whitening.Care&amp;hl=en</a></p>
                        </div>

                        <p style="padding-top: 20px;"><strong>Function:</strong> To provide home remedies, treatments, and solutions for whiter teeth.</p>
                        <p><strong>Background:</strong> Made by Digital Professional Apps, the company behind many other digital apps, too numerous to mention.</p>
                        <p><strong>General Comments: </strong>There are some interesting guides and treatments listed here.</p>
                        <p><strong>What It Does Best: </strong>Delivers information on potential treatments for teeth whitening.</p>
                        <p><strong>Why It&rsquo;s Famous: </strong>It&rsquo;s one of a handful of apps devoted to teeth whitening.</p>
                        <p><strong>The Drawback:</strong> Nothing exists for Apple devices.</p>
                        <hr>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="article-app-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <img src="../img/ed_apps_2.png" alt="">
                        <div class="App">
                            <h1>Teeth Whitening Tips - Learn How to Whiten Teeth</h1>
                            <p><strong>WEBSITE</strong>: <a href="https://orca.tech" target="_blank">https://orca.tech</a></p>
                            <p><strong>ITUNES</strong>: <a href="https://itunes.apple.com/no/app/teeth-whitening-tips-learn-how-to-whiten-teeth/id1114712095?mt=8" target="_blank">https://itunes.apple.com/no/app/teeth-whitening-tips-learn-how-to-whiten-teeth/id1114712095?mt=8</a></p>
                            <p><strong>GOOGLE PLAY</strong>: N/A</p>
                        </div>

                        <p style="padding-top: 20px;"><strong>Function:</strong> Filled with info and videos on how to whiten teeth.&nbsp;</p>
                        <p><strong>Background:</strong> Designed by Nick Lim.</p>
                        <p><strong>General Comments:</strong> A good resource for teeth whitening tips.</p>
                        <p><strong>What It Does Best:</strong> Lists range from whitening teeth in braces to removing yellow between teeth.</p>
                        <p><strong>Why It&rsquo;s Famous: </strong>Because its lists are pretty comprehensive and it provides videos too.</p>
                        <p><strong>The Drawback:</strong> Nothing exists for Google Play.</p>

                        <hr>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="article-app-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="../img/ed_apps_3.jpg" alt="">
                        <div class="App">
                            <h1>Teeth Whitening Tips</h1>
                            <p><strong>WEBSITE</strong>: <a href="http://www.creativeglance.com" target="_blank">http://www.creativeglance.com</a></p>
                            <p><strong>ITUNES</strong>: <a href="https://itunes.apple.com/us/app/teeth-whitening-tips/id367225211?mt=8" target="_blank">https://itunes.apple.com/us/app/teeth-whitening-tips/id367225211?mt=8</a></p>
                            <p><strong>GOOGLE PLAY</strong>: <a href="https://play.google.com/store/apps/details?id=com.freeappsforyou.classiccarteethwhitening&amp;hl=en" target="_blank">https://play.google.com/store/apps/details?id=com.freeappsforyou.classiccarteethwhitening&amp;hl=en</a></p>
                        </div>
                        <p style="padding-top: 20px;"><strong>Function:</strong> Designed to provide natural ways to brighten teeth.&nbsp;</p>
                        <p><strong>Background:</strong> Put together by Creative Glance.</p>
                        <p><strong>General Comments:</strong> An interesting app that offers up unconventional thoughts.</p>
                        <p><strong>What It Does Best:</strong> Highlights natural means to whiten teeth.</p>
                        <p><strong>Why It&rsquo;s Famous:</strong> Great reviews and easy to navigate.</p>
                        <p><strong>The Drawback</strong>: It hasn&rsquo;t been updated since 2015.</p>
                        <hr>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="article-app-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="../img/ed_apps_4.jpg" alt="">
                        <div class="App">
                            <h1><strong>Virtual Teeth Whitening</strong></h1>
                            <p>&nbsp;</p>
                            <p><strong>WEBSITE</strong>: <a href="http://www.clearlytrained.com/app-support/" target="_blank">http://www.clearlytrained.com/app-support/</a></p>
                            <p><strong>ITUNES</strong>: <a href="https://itunes.apple.com/us/app/virtual-teeth-whitening/id633567931?mt=8" target="_blank">https://itunes.apple.com/us/app/virtual-teeth-whitening/id633567931?mt=8</a></p>
                            <p><strong>GOOGLE PLAY</strong>: N/A</p>
                        </div>
                        <p style="padding-top: 20px;"><strong>Function: </strong>Play at being a dentist while learning how to whiten your teeth!&nbsp;</p>
                        <p><strong>Background:</strong> Created by Clearly Trained/Surgery Squad.</p>
                        <p><strong>General Comments:</strong> Take on the role of a Virtual Dentist &ndash; You are in control as you perform a teeth whitening procedure on a patient&rsquo;s teeth in this interactive educational game!</p>
                        <p><strong>What It Does Best:</strong> Gives you a hands-on experience.</p>
                        <p><strong>Why It&rsquo;s Famous</strong>: &nbsp;Ranked #1 &ldquo;Health &amp; Fitness&rdquo; app in 2 countries.</p>
                        <p><strong>The Drawback:</strong> It&rsquo;s not the real deal, but it&rsquo;s great to help kids learn.</p>
                        <hr>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="article-app-5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="../img/ed_apps_5.jpg" alt="">
                        <div class="App">
                            <h1>Teeth Whitening</h1>
                            <p><strong>WEBSITE</strong>: <a href="http://appsbay.co.uk" target="_blank">http://appsbay.co.uk</a></p>
                            <p><strong>ITUNES</strong>: N/A</p>
                            <p><strong>GOOGLE PLAY</strong>: <a href="https://play.google.com/store/apps/details?id=com.v1_4.B3CD4E28FDA4E17FF8AD05C9.com" target="_blank">https://play.google.com/store/apps/details?id=com.v1_4.B3CD4E28FDA4E17FF8AD05C9.com</a></p>

                        </div>
                        <p style="padding-top: 20px;">
                        <p><strong>Function:</strong> Find out all about tooth whitening and cosmetic dentistry on this app.</p>
                        <p><strong>Background:</strong> Made by Venture Technology Limited.</p>
                        <p><strong>General Comments: </strong>You can investigate all forms of teeth whitening methods, side effects and more.</p>
                        <p><strong>What It Does Best:</strong> You can find out where to get Teeth Whitening Kits and how to avoid yellow teeth.</p>
                        <p><strong>Why It&rsquo;s Famous: </strong>It&rsquo;s free!</p>
                        <p><strong>The Drawback:</strong> No version for Apple products.</p>
                        <hr>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <section id="article-app-5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="../img/ed_apps_5.jpg" alt="">
                        <div class="App">
                            <h1>LED Teeth Whitening Mobile App</h1>
                            <p><strong>WEBSITE</strong>: <a href="https://www.gocanvas.com/mobile-forms-apps/7125-LED-Teeth-Whitening" target="_blank">https://www.gocanvas.com/mobile-forms-apps/7125-LED-Teeth-Whitening</a></p>
                            <p><strong>ITUNES</strong>: N/A</p>
                            <p><strong>GOOGLE PLAY</strong>: N/A</p>

                        </div>
                        <p style="padding-top: 20px;">
                            <strong>Function:</strong> The LED Teeth Whitening Consent form mobile app offers a convenient way to get patient consent prior to delivering in-office whitening treatments.&nbsp;</p>
                            <p><strong>Background: </strong>Aimed at dentists looking to track patient consent and signatures, this app handily generates a form the patient can fill out electronically via their smartphone/tablet/device.</p>
                            <p><strong>General Comments: </strong>Patients can pick up information on teeth whitening including risks associated with each method.</p>
                            <p><strong>What It Does Best: </strong>It's the fastest, easiest way to get patient consent before patients undergo professional teeth whitening procedures.</p>
                            <p><strong>Why It&rsquo;s Famous: </strong>No matter what type of LED teeth whitening systems you're looking for, this app eases and simplifies the journey a patient takes from start to finish.</p>
                            <p><strong>The Drawback</strong>: It&rsquo;s for dentists only, and there&rsquo;s nothing to download from the App Store or Google Play.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
