<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <img src="/teethwhitening_healthtip1_s.jpg" alt="" style="width: 100%;">
                        <h1>3 Surprising Fruits That Brighten Your Smile</h1>
                        <p>
                            Flossing and brushing your teeth may be two of the best ways to get a healthy smile, but they&rsquo;re not 
                            the only ways to brighten up your teeth. Fruits and vegetables can also do some work to whiten teeth 
                            and get rid of stains.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        
                        <h2>1. Strawberries</h2>
                        
                        <p>
                            Strawberries have an activation enzyme referred to as malic acid – the same malic acid found in some 
                            teeth-whitening products. Along with the vitamin C in the berry, they work together to help whiten teeth. 
                            The malic acid gets rid of the superficial debris, while the vitamin C loosens plaque. You can make a puree 
                            of a few strawberries and gently brush with it once or twice a week. Rinse well. Alternatively, let the 
                            strawberries do the work by slowing eating them straight. They will do the brushing for you. The result is 
                            a cleaner feeling mouth and brighter smile. Remember to not overdo, as more is not better! Excessive sugar 
                            and acid from the strawberries can damage tooth enamel.
                        </p>

                        <h2>2. Apples</h2>
                        
                        <p>
                            Apples are full of two great things for your teeth: fiber and lots of malic acid. Malic acid, sometimes 
                            called &lsquo;apple acid,&rsquo; is a completely natural organic compound. Biting into a succulent apple 
                            coats your teeth with the juices containing malic acid, breaking apart brown and yellow stains.
                        </p>
                        
                        <p>
                            The next layer of apple magic is the fiber. A medium-sized apple contains about 4.4 grams of fiber. Fiber 
                            has multiple health benefits including managing cholesterol and blood sugar levels, getting you to a healthy 
                            weight, maintaining bowel health, and whitening that gorgeous smile of yours!
                        </p>

                        <h2>3. Banana Peels</h2>
                        
                        <p>
                            The inside of a banana peel is natural dental care for many people. Try this simple, easy, and inexpensive 
                            method to see if it works for you!
                        </p>
                       
                        <p>
                            The trending thought is that the minerals contained in the skin are good for whitening the teeth. Bananas 
                            are a suitable non&ndash;abrasive and therefore do not harm the tooth enamel, unlike some dental products. 
                            Here are steps for using bananas to get a bright, shiny smile:
                        </p>

                        <ul>
                            <li>Wash the banana. </li>
                            <li>Unpeel a banana and trim a piece of the peel into a rectangle.</li>
                            <li>Take that piece and gently rub the inside white part (not the yellow exterior) on your teeth.</li>
                            <li>After about two minutes, rinse your mouth and brush your teeth with your usual toothpaste.</li>
                            <li>Use this method two to three times per week for about four weeks.</li>
                            <li>Remember to floss!</li>
                        </ul>
                        
                        <p>The banana peel method really acts as a mild, surface exfoliator cleansing the top layer of the teeth.</p>
                        
                        <p>
                            These fruits from the Garden of Eden are just a few that act as an interim toothbrush. Strawberries, apples, 
                            bananas, carrots, celery, and other hard, crunchy fruits and vegetables remove excess food, and debris 
                            from the mouth. They also take away bacteria which can cause plaque buildup.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>
        
        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
