<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>What Your Smile Says About Overall Health</h1>
                        <p>Just as our eyes are the window to our soul, our mouths speak wordlessly about our well-being. According to the Academy of General Dentistry, more than 90 percent of all medical conditions, including cardiovascular disease, are linked to dental hygiene and our habits.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <img src="/teethwhitening_healthtip2_s.jpg" alt="" style="width: 100%;">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <p>These can be related to shared, cumulative risk factors. &ldquo;The mouth can be a good warning signpost,&rdquo; <a href="http://www.heart.org/HEARTORG/HealthyLiving/Dental-Health-and-Heart-Health_UCM_459358_Article.jsp#.WYuMpUlK2M8" target="_blank">said Ann Bolger, M.D</a>., William Watt Kerr Professor of Clinical Medicine at the University of California, San Francisco. &ldquo;People with periodontitis often have risk factors that not only put their mouth at risk, but their heart and blood vessels, too. But whether one causes the other has not actually been shown&rdquo;, as more research is needed.</p>
                        <p>Smoking, diabetes, age, obesity, blood pressure, and inactivity play a role in producing inflammation in the body. &nbsp;Therefore, healthy lifestyle choices are important. So, in the meantime, use established methods to quit smoking, manage your weight, control blood pressure, and stay active! Yes, oral health with a bright, clean smile is excellent for your body&rsquo;s complete health.</p>
                        <p>So what are some dentist-recommended techniques to ensure a healthy smile?</p>
                        <p><strong>Flossing your teeth </strong>is the time tested and true method to remove debris, food, and plaque. Both the American Dental Association and the American Academy of Periodontology cite proof that flossing prevents early gum inflammation, gingivitis, tooth decay, and gum disease.</p>
                        <p>Flossing completes more than 40 percent of the effort to get rid of sticky bacteria or plaque from the teeth. Just by removing this accumulation between your teeth, they will begin to appear whiter. The recommendation is to floss twice a day. In some cases, flossing is more important than brushing! Once practiced, flossing is simple. After brushing your teeth:</p>
                        <ul>
                        <li>Remove about 24 inches of dental floss from the container.</li>
                        <li>Use your index finger and middle finger to wrap the ends around and anchor them.</li>
                        <li>Place the floss around each tooth.</li>
                        <li>Move the floss back and forth and up and down, in and around the tooth.</li>
                        <li>Do not over do; be gentle to minimize gum irritation, pain, and sensitivity.</li>
                        </ul>
                        <p>Using <strong>food grade hydrogen peroxide</strong> as a rinse is a helpful teeth whitening remedy. &nbsp;This product is a 3% solution, which is considered a safe bleaching agent. It is not the highly concentrated form used in your dentist&rsquo;s office or found in over-the-counter tooth whitening kits.</p>
                        <p>Food grade hydrogen peroxide has antibacterial properties in our food! It effectively combats the microorganisms that grow in our mouths. There are many side benefits of preventing microbial growth, such as minimizing bad breath, infection, and plaque deposits.</p>
                        <p>The diluted solution is made using some food grade hydrogen peroxide mixed 50/50 with water. If tolerated, some people will not dilute the product and use it as full strength.</p>
                        <p>To incorporate hydrogen peroxide as part of your oral hygiene daily or twice daily routine:</p>
                        <ul>
                        <li>Brush and floss your teeth as normal.</li>
                        <li>Swish the DILUTED solution of hydrogen peroxide in and around your teeth for about 60 seconds. Note: use a diluted solution first to gauge your sensitivity. You can always move up to full strength as tolerated.</li>
                        <li>Spit the solution out into the sink bowl.</li>
                        <li>Rinse your mouth and teeth with plain water.</li>
                        <li>Continue 3% hydrogen peroxide treatments for seven days.</li>
                        <li>If redness, irritation, or sensitivity occurs, stop using the hydrogen peroxide solution.</li>
                        </ul>
                        <p>To ensure you have a healthy mouth keep your dental exams current and visit your dentist once every six months. Before you can have s white, shiny, bright, smile, you must have a healthy mouth. A powerful combination for a beautiful smile inside and out!</p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/tags.ejs %>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
