<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <img src="../img/teethwhitening_healthtip1_s.jpg" alt="" style="width: 100%;">
                        <h1 style="padding-top: 40px !important;">Three Fruits That May Help Brighten Your Teeth</h1>
                        <p>Flossing and brushing your teeth may be two of the best ways to get a healthy smile, but they’re not the only ways to brighten up your teeth. Fruits and vegetables can also do some work to whiten teeth and get rid of stains.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h2><strong>1. Strawberries</strong></h2>
                        <p>Strawberries have an enzyme referred to as malic acid, which is also found in some teeth-whitening products. It helps gets rid of the debris, while vitamin C loosens plaque. You can make a puree of a few strawberries and gently brush with it once or twice a week. Rinse well. Or let the strawberries do the work by slowing eating them straight. They will do the brushing for you. Remember to not overdo. Excessive sugar and acid from the strawberries can damage tooth enamel. </p>

                        <h2><strong>2. Apples</strong></h2>
                        <p>Apples have two great things for your teeth: Fiber and lots of malic acid. Biting into a succulent apple coats your teeth with juices containing malic acid, breaking apart brown and yellow stains, while the fiber helps whiten that gorgeous smile of yours!</p>

                        <h2><strong>3. Banana Peels</strong></h2>
                        <p>The trending thought is that the minerals contained in banana skin are good for whitening your teeth. Bananas are a suitable non-abrasive and therefore do not harm the tooth enamel, unlike some dental products. Here are steps for using bananas to get a bright, shiny smile: </p>

                        <ul>
                            <li>Wash the banana. </li>
                            <li>Unpeel and trim a piece of the peel into a rectangle.</li>
                            <li>Take that piece and gently rub the inside white part (not the yellow exterior) on your teeth. </li>
                            <li>After about two minutes, rinse your mouth and brush your teeth with your usual toothpaste.</li>
                            <li>Use this method two to three times per week for about four weeks. </li>
                        </ul>
                        <p>The banana peel method really acts as a mild, surface exfoliator cleansing the top layer of the teeth. </p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
