<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <!-- <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1>What Your Smile Says About Overall Health</h1>
                        <p>
                            Diabetes, AIDS, and cardiovascular diseases aren’t normally something you would associate with your dental hygiene. 
                            However, they are three of the many conditions that can be detected early by taking a closer look at the health of 
                            your mouth. In fact, as the Academy of General Dentistry points out, more than 90 percent of all medical diseases 
                            are linked to our oral health. Here are a few ways that your mouth connects to overall health:
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section> -->

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <img src="/teethwhitening_healthtip2_s.jpg" alt="" style="width: 100%;">
                        <h1>What Your Smile Says About Overall Health</h1>
                        <p>
                            Diabetes, AIDS, and cardiovascular diseases aren’t normally something you would associate with your dental hygiene. 
                            However, they are three of the many conditions that can be detected early by taking a closer look at the health of 
                            your mouth. In fact, as the Academy of General Dentistry points out, more than 90 percent of all medical diseases 
                            are linked to our oral health. Here are a few ways that your mouth connects to overall health:
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">

                        <h2>Shows Early Symptoms of Other Conditions</h2>
                        <p>
                            Oral legion and other issues can sometimes be the first signs for conditions like AIDS and diabetes. 
                            Of course, that doesn&rsquo;t mean every instance of inflamed gums or a sore tooth is an indication of AIDS, 
                            but combined with other factors poor mouth health can hint at other issues. If you have recurring dental 
                            issues, it&rsquo;s worth seeing a doctor about.
                        </p>

                        <h2>Contains Useful Information in Saliva</h2>
                        <p>
                            If poor oral health appears with other symptoms, a doctor can perform tests to see if there is a larger concern. 
                            One of the best ways that doctors can identify a cause for concern is with saliva swab tests. Saliva is the 
                            conduit for a number of the body&rsquo;s first line of defenses. It contains antibodies that help protect against 
                            viral pathogens like HIV and the common cold, histatins that stop fungus growth, and enzymes that attack bacteria. 
                            It also has cortisol levels that can reflect stress levels in newborn children, bone fragments that point to bone 
                            loss, certain cancer markers, and environmental toxins.
                        </p>

                        <h2>A Starting Point for Infections</h2>
                        <p>
                            Keeping your mouth clean prevents plaque and bacteria from collecting between your gums and your teeth, resulting 
                            in gingivitis, periodontitis, or even trench mouth if not taken care of. Those conditions may be confined to the 
                            mouth, but they can create a situation that allows bacteria to enter the bloodstream. 
                        </p>
                        <p>
                            Normally, this bateria would be dealt with by the body&rsquo;s natural defenses, but in cases where the immune 
                            system is weakened, the bacteria can cause infection. One instance of this condition is called 
                            &ldquo;infective endocarditis&rdquo; and happens when bacteria from the mouth stick to the lining of diseased 
                            heart valves via the bloodstream. Other conditions linked to periodontal disease include stroke and heart disease.
                        </p>

                        <h2>How To Keep Healthy</h2>
                        <p>
                            In cases like these, brushing, flossing, and other standard oral care can help keep plaque and bacteria out of 
                            the bloodstream, keeping your smile white and body healthy. 
                        </p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
