<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Erectile Dysfunction New Treatments and Therapies in Development</h1>
                        <p>New developments in the treatment of erectile dysfunction are the standard of progressive care. &nbsp;Original and fresh approaches promise to improve the quality of life for many men. They offer alternative options to the conventional therapies. These include high-frequency acoustical waves, the first ever over-the-counter cream, stem cells, and gene therapy.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h2>GAINSWave&trade;</h2>
                        <p>GAINSWave&trade; is a device that utilizes high-frequency acoustical waves to treat ED. Also referred to as shockwave therapy, sound waves behave as conduits to open plaque filled blood vessels thereby increasing blood flow. The therapy also accelerates the generation of new blood vessels. Both actions enhance blood flow resulting in the ability to obtain and maintain an erection. &nbsp;&nbsp;Some patients are using GAINSWave to prevent or delay age-related ED.</p>
                        <ul>
                        <li><strong><strong>Outlook:</strong> &nbsp;</strong>As an alternative to traditional oral medications, GAINSWave for ED has been shown to be effective. Eighty percent of men who participated in the study demonstrated improved erectile function. &nbsp;Those people who were using ED medications, such as Cialis or Viagra, were able to stop using their medications for several months after treatment. Another study generated repeatable outcomes and confirmed the positive results; including the rehabilitation and rejuvenation of erectile tissue.</li>
                        <li><strong>Therapy Administration: </strong>Treatment takes about 30 minutes. &nbsp;</li>
                        <li><strong>Side Effect Profile: &nbsp;</strong>High-frequency acoustical waves are drug and surgery free with men reporting no pain associated with the procedure.</li>
                        <li><strong>Status:</strong> &nbsp;For the past ten years, GAINSWave is available in Europe. The FDA has approved the product for use in the US. &nbsp; &nbsp;</li>
                        </ul>
                        <h2>Topical Sildenafil (SST-6006)</h2>
                        <p>Strategic Science and Technologies is developing a topical route of administration of the drug sildenafil citrate for the treatment of ED. Possible benefits of the over-the-counter cream could include a faster onset, &nbsp;targeted local delivery, improved safety, limited drug interactions, ease of use, and availability.</p>
                        <ul>
                        <li><strong>Outlook: </strong>Strategic Science and Technologies (SST), is targeting the drug to be first ever FDA approved over-the-counter (OTC) product for the safe and effective treatment of ED. &nbsp;Phase I research is completed resulting in drug delivery through the skin into the bloodstream.</li>
                        <li><strong>Therapy Administration</strong>: &nbsp;Single application of 2 grams of SST-6006 (5% Sildenafil Citrate Cream, occluded and non-occluded).</li>
                        <li><strong><strong>Side Effect Profile: &nbsp;</strong></strong>Low levels of the drug in the bloodstream with no significant skin or systemic adverse effects.&nbsp;</li>
                        <li><strong>Status:</strong> Ongoing research trials, SST recently completed a Phase 2 proof-of-concept study in men with mild to moderate ED. &nbsp;</li>
                        </ul>
                        <h2>Stem Cells</h2>
                        <p>A Phase 1 study presented at the European Association of Urology demonstrates promising early findings. This study in patients was to establish the pharmacokinetic parameters. These included dosing, absorption, metabolism, distribution, and excretion. The positive results enabled men to have intercourse, as traditional ED therapies did not work in these men.</p>
                        <ul>
                        <li><strong><strong>Outlook: &nbsp;</strong></strong>Early research to determine safety and efficacy in the treatment of impotence. A small sampling of men participated with no placebo control group. Eight out of 21 men experienced improvement in ED within six months lasting one year. &nbsp;</li>
                        <li><strong>Therapy Administration</strong>: &nbsp;Patient under general anesthesia, man&rsquo;s abdominal fat stem cells transplanted by injection directly into corpus cavernosum of the penis.</li>
                        <li><strong>Side Effect Profile: &nbsp;</strong>Well-tolerated with none of the 21 men reporting side effects up to one-year post Phase 1 completion.</li>
                        <li><strong>Status: </strong>Larger participant pool in Phase 2 to evaluate the effectiveness and validate safety profile.</li>
                        <li><strong>Caution</strong>: Many websites say they provide stem cell treatment for ED, but there is NO FDA approved stem cell treatment yet.  Treatments currently marketed as stem cell therapy may or may not be what they are claimed to be, and have not been proven safe or effective in clinical trials.</li>
                        </ul>
                        <h2>Uprima (apomorphine)</h2>
                        <p>Uprima (apomorphine) was manufactured by TAP Pharmaceuticals and increases the release of the neurotransmitter, dopamine, in the brain. Among other roles, dopamine is responsible for arousal, sexual stimulation, enabling erections, and awareness. The sublingual, under the tongue, route of administration affords a quicker onset of effect as the drug avoids the digestive enzymes of the stomach. The indication of apomorphine is in the treatment of Parkinson&rsquo;s disease.</p>
                        <p><span style="color: #ff0000;"><strong>ALERT! Do not purchase online sources of Uprima (apomorphine). </strong></span></p>
                        <ul>
                        <li><strong>Outlook: </strong>In a preliminary ten-week clinical trial, sixty percent of men had a positive response within 15 minutes of dosing.</li>
                        <li><strong><strong>Therapy Administration</strong>: &nbsp;</strong>Dissolvable, flavored tablet placed under the tongue. Nasal spray route of administration in clinical trials. &nbsp;</li>
                        <li><strong>Side Effect Profile: &nbsp;</strong>Activates the chemoreceptor trigger zone resulting in vomiting and nausea, syncope, fainting.</li>
                        <li><strong>Status: </strong>&nbsp;Not available in the U.S. and European availability discontinued.</li>
                        </ul>
                        <h2><strong></strong>Topiclan</h2>
                        <p>Topiclan is a cream that contains the drug alprostadil, also referred to as prostaglandin E1 or PGE1. The pharmaceutical company is MacroChem Corporation. &nbsp;Alprostadil was approved by the FDA in 1996 in penile suppositories or injectable routes of administration. The mechanism of action appears to be rapid vasodilation of the blood vessels in and around the penis attaining rigidity.</p>
                        <ul>
                        <li><strong>Outlook: </strong>Potential treatment option for individuals for whom other therapies have not been successful.</li>
                        <li><strong><strong>Therapy Administration</strong>: &nbsp;</strong>Locally applied topical cream. &nbsp;&nbsp;</li>
                        <li><strong>Side Effect Profile: &nbsp;</strong>Rare allergic reaction. If a prolonged erection occurs, seek medical attention.</li>
                        <li><strong>Status: </strong>&nbsp;Under clinical investigation. Not approved by the FDA.</li>
                        </ul>
                        <h2><strong></strong>Gene therapy</h2>
                        <p>Gene therapy uses the body&rsquo;s cGMP metabolic processes to relax penile skeletal muscle cells and enhance blood flow to the tissue. An injection of the gene construct into the penis followed by activation by a particular blue light source generates cGMP.</p>
                        <ul>
                        <li><strong>Outlook: </strong>Literature reports animal testing with good results. A possible alternative therapy for ED refractory men. &nbsp;</li>
                        <li><strong><strong>Therapy Administration</strong>: &nbsp;</strong>Local injection.</li>
                        <li><strong>Side Effect Profile: &nbsp;</strong>Unknown at this time.</li>
                        <li><strong>Status: </strong>&nbsp;Prototype under clinical investigation. Not approved by the FDA.</li>
                        </ul>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                        <h2>Reference Links</h2>
                        <p><a href="https://www.news-medical.net/news/20161216/New-erectile-dysfunction-treatment-uses-high-frequency-acoustical-waves.aspx" target="_blank">https://www.news-medical.net/news/20161216/New-erectile-dysfunction-treatment-uses-high-frequency-acoustical-waves.aspx</a></p>
                        <p><a href="http://www.tandfonline.com/doi/abs/10.1080/13543784.2017.1324570?journalCode=ieid20" target="_blank">http://www.tandfonline.com/doi/abs/10.1080/13543784.2017.1324570?journalCode=ieid20</a></p>
                        <p><a href="https://medicalxpress.com/news/2017-03-stem-cell-therapy-men-erectile.html" target="_blank">https://medicalxpress.com/news/2017-03-stem-cell-therapy-men-erectile.html</a></p>
                        <p><a href="http://www.webmd.com/erectile-dysfunction/news/19991102/topical-gel-seen-as-effective-new-treatment-for-impotence" target="_blank">http://www.webmd.com/erectile-dysfunction/news/19991102/topical-gel-seen-as-effective-new-treatment-for-impotence</a></p>
                        <p><a href="http://www.alphagalileo.org/ViewItem.aspx?ItemId=173764&amp;CultureCode=en">http://www.alphagalileo.org/ViewItem.aspx?ItemId=173764&amp;CultureCode=en</a></p>
                        <p><a href="http://uroweb.org/">http://uroweb.org/</a></p>
                        <p><a href="http://www.sbwire.com/press-releases/global-erectile-dysfunction-drugs-market-to-reach-a-valuation-of-usd-295-billion-by-2023-end-838714.htm" target="_blank">http://www.sbwire.com/press-releases/global-erectile-dysfunction-drugs-market-to-reach-a-valuation-of-usd-295-billion-by-2023-end-838714.htm</a></p>


                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
