<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <section id="contact-us-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4><img src="/icon_newsinformation.png" style="width: 30px; height: 30ox;" alt=""> News & Information</h4>
                        <p> Health / Articles / News & Information</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1>News & Information</h1>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article image -->
        <!-- <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <img src="/teethwhitening_blog4_s.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section> -->

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>Tooth Whitening Information Group</h2>
                        
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="http://safetoothwhitening.org/news" target="_blank">
                                http://safetoothwhitening.org/news
                            </a>
                        </p>

                        <p>
                            <strong>What They Do:&nbsp;</strong>
                            Several high&ndash;profile oral health organizations came together to form the Tooth Whitening 
                            Information Group. The goal of this group&rsquo;s website is to provide the public with information 
                            about safe tooth whitening options and to educate about the potentially dangerous alternatives. 
                        </p>

                        <p>
                            <strong>What Type of Information They Provide:&nbsp;</strong>
                            The site provides resources for making reports about poor or illegal teeth whitening practices, learning 
                            more about how teeth whitening is carried out, and understanding British law regarding teeth whitening. 
                            The news section tracks unsafe practitioners and provides clinical articles about teeth whitening. 
                        </p>

                        <p>
                            <strong>Reliability:&nbsp;</strong>
                            Formed by a group of doctors and health&ndash;related companies, this site has the backing of medical 
                            authorities in the field. The only drawback is that they are based in the UK, so laws and news stories 
                            may not be relevant to certain locations.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>News-Medical.Net Teeth Whitening Section</h2>
                        
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="https://www.news-medical.net/?tag=/Teeth-Whitening" target="_blank">
                                https://www.news-medical.net/?tag=/Teeth-Whitening
                            </a>
                        </p>

                        <p>
                            <strong>What They Do:&nbsp;</strong>
                            The main News&ndash;Medical.Net sites provides health information and news to healthcare professionals, 
                            medical researchers, and engaged consumers. The Teeth Whitening section of the site focuses on Teeth 
                            Whitening news and information.
                        </p>

                        <p>
                            <strong>Reliability:&nbsp;</strong>
                            Though the site positions itself as unbiased medical information, many of the news articles featured in the 
                            Teeth Whitening section prove to be PR vehicles for doctors and clinics. Some articles, however, do provide 
                            worthwhile information if you&rsquo;re willing to dig around. The site also hasn&rsquo;t been updated in 
                            several years, so some of the information may no longer be relevant.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>allure - Teeth Whitening Topic</h2>
                        
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="https://www.allure.com/topic/teeth-whitening" target="_blank">
                                https://www.allure.com/topic/teeth-whitening
                            </a>
                        </p>

                        <p>
                            <strong>What They Do:&nbsp;</strong>
                            allure is a beauty, fashion, and women&rsquo;s image arm of Conde Nast&rsquo;s vast publication empire. 
                            The Teeth Whitening topic is an automated collection of articles and news that covers teeth whitening 
                            technology, advancements, and tips.
                        </p>

                        <p>
                            <strong>Reliability:&nbsp;</strong>
                            As a revenue-focused cultural publication, allure isn&rsquo;t great for unbiased information about advances 
                            in medicine. But, if you&rsquo;re looking to find out about the latest in teeth whitening products, it might 
                            be a good place to stop in.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>The Mirror’s Teeth Whitening Section</h2>
                        
                        <p>
                            <strong>Website:&nbsp;</strong>
                            <a href="http://www.mirror.co.uk/all-about/teeth-whitening" target="_blank">
                                http://www.mirror.co.uk/all-about/teeth-whitening                                
                            </a>
                        </p>

                        <p>
                            <strong>What They Do:&nbsp;</strong>
                            The Teeth Whitening section of the Mirror matches up perfectly to the paper&rsquo;s claim that it is 
                            &ldquo;the intelligent tabloid.&rdquo; The articles are focused on products and tips based on science, but 
                            ultimate aim to entertain the general public more than educate. 
                        </p>

                        <p>
                            <strong>Reliability:&nbsp;</strong>
                            Not completely devoid of journalistic integrity, The Mirror also isn&rsquo;t exactly the pinnacle of 
                            medical authority, either. Look to this site mostly for easily digestible news on the latest products in 
                            the marketplace and tips that may or may not be sanctioned by your dentist.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
