<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <!-- Sticky Social -->
        <section id="sticky-social">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <!-- <i class='fa fa-facebook'></i><br>
                        <i class='fa fa-twitter'></i><br>
                        <i class='fa fa-instagram'></i><br>
                        <i class='fa fa-linkedin'></i><br>
                        <i class='fa fa-vimeo'></i><br>
                        <i class='fa fa-envelope-o'></i> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Mammoth Teeth Whitening Multi-Billion Dollar Global Market</h1>
                        <p>Dental consumables industry revenues exceed 11 billion dollars annually. An in-depth analysis forecast in collaboration with industry experts shows the teeth whitening part of that industry increasing through 2021. The primary market driver is approvals from dental associations, recommendations from doctors, and high consumer product adoption rates.</p>
                        <p>Geographic market segments in the Americas encompass North and South America; Asian-Pacific (APAC), regions comprise East Asia, South Asia, Southeast Asia and Oceania, and Central and Eastern Europe, Middle East, and Africa (CEEMEA). Principle key players include Colgate-Palmolive, GlaxoSmithKline, Johnson &amp; Johnson, and Procter &amp; Gamble. Additional well-known corporations are Brodie &amp; Stone, CCA Industries, Church &amp; Dwight, GO SMILE, - Henkel, Unilever, Supersmile, and Ultradent Products.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <!-- <img src="./img/email_subscribe.png" alt="" style="width: 100%;"> -->
                        <hr />
                        <h1>Announcing: American Dental Association Seal of Approval</h1>
                        <p>The first teeth whitening product to receive the ADA Council on Scientific Affairs endorsement as safe and effective is Crest 3D White Whitestrips Glamorous White. The product creator for Procter and Gamble is research fellow Paul Sagel. He said in a statement to ADA News, "we want people to know that our whitening technology has been thoroughly vetted by a trusted third party for dental professionals and users alike.&rdquo; The product marketing strategy, &lsquo;dials up your dazzling smile&rsquo; and the strips are designed to shape to the teeth securely. The manufacturer's&rsquo; recommended used is once a day for 30 minutes. Crest 3D evidence-based information shows &lsquo;rigorous and reproducible&rsquo; results.</p>
                        <hr />
                        <h1>Controversial Dental Stem Cells</h1>
                        <p>Research and development are underway to utilize a form of universal stem cells that convert into multiple varieties of oral tissue. The process includes regrown teeth and bone. Decades from now the technology and science may exist to grow replacement teeth from dental stem cells. &ldquo;If you could instead implant living, vascularized tooth in the jaw, that could be a much better option,&rdquo; says researcher Pam Yelick. She holds faculty appointments at the Sackler School of Graduate Biomedical Sciences, the School of Medicine and the School of Engineering at Tufts.</p>
                        <p>Testing focuses on materials, support framework, shell creation, and construction processes. As patients find dentures painful and fixed titanium implants have a non-natural look, stem cells may offer an alternative.</p>
                        <hr />
                        <h1>Jaw-Dropping Omens: Charcoal Decays</h1>
                        <p>Erosion, decay, staining, and deterioration of tooth enamel from oral teeth whitening routine are risks linked to activated charcoal. Activated charcoal contains shards of wood, coal, and other ingredients with a large particulate surface area for absorption of toxins. Approved indications are as a treatment for drug overdose or a poisoning that include, but not limited to iron, cyanide, alcohol, and lithium. It is used in emergency rooms and by trained healthcare personnel or upon direction from poison control centers. Poorly researched populace uses are as an anti-flatulence, hangover prevention, and anti-cholesterol agent. Upon swallowing side effects include constipation, vomiting, black tongue and stools, and diarrhea. Evidence-based information shows results to be inconsistent and questionable effectiveness.</p>
                        <hr />
                        <h1>Energy: Laser Dental Technology</h1>
                        <p>Teeth whitening via high-tech, futuristic lasers have a growing marketing role in the field of dentistry. &nbsp;In combination with the peroxide bleaching solution technique, laser energy boosts the rate of the whitening procedure. Challenging this new technology are concerns about the danger posed to the teeth&rsquo;s pulp, amplified oral sensitivities, and times to see an effect. The laser energy is the heat source for the hydrogen peroxide. The in-office method of laser treatments consists of 2-4 treatments over a 1 to 2 week period. Treatments hover around $1,000, take about one hour to complete, and any results will diminish over time of about six months. Be warned. On the market are Blue LED lights there is no evidence to support their claims.</p>
                        <hr />
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <h1>Before You Forget: White Teeth is a Cultural Choice!</h1>
                        <p>Our genetic makeup is our birth legacy that covers everything! From the shade, texture, mineralization, and natural color of our teeth to our eye color. Professional whitening, using the porous tooth structure, minimizes the appearance of stains that have accrued over time. The shades are pre-programmed to blend with our skin tones, hair color, and natural shading.</p>
                        <p>Not everyone&rsquo;s teeth are flawlessly white! &nbsp;Change is a prerogative; the choice is yours!</p>
                        <hr />
                        <h1>Ultraviolet Light Zoom News!</h1>
                        <p>A specific way to brighten and whiten teeth use UV light and a hydrogen peroxide gel. The method is completed in the dentist&rsquo;s clinic and takes about one hour. Oxygen penetrates the enamel and dentin to effect the bleaching reaction. Reported patient&rsquo;s effects range from painful discomfort to a relaxing pain-free experience. Sensitivity can occur with minor gums burns from peroxide leakage. Results are individualized, varying from person to person. Maintenance treatments are necessary with bleaching trays. The recommendation for this procedure is annual.</p>
                        <hr />
                        <h1>Revealing Fundamental Secrets</h1>
                        <p>Consumers take note!</p>
                        <p>Barred from offering teeth whitening services are beauty salons, spas, beauticians, beauty therapists, or any business other than dentistry. The celebrity and the reality show culture has made this procedure one of the most popular cosmetic techniques. Inherent dangers are involved in any field if implemented by someone who is not appropriately qualified. A registered dental professional is such a person. They have the training, knowledge, and are skilled in acquiring a proper medical history. Using an unlicensed person could lead to permanent harm to teeth and gums. <br /><br /></p>

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">


                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>


        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">


                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Website Name 3 -->
        <section id="website-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">

                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>


    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
