<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1>Non-Profit Organizations</h1>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <!-- <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <img src="/glaucoma_healthip2_s.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section> -->


        <!-- content 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>Smiles For Life</h2>
                        <p><strong>Website</strong>: <a href="http://www.smilesforlife.org" target="_blank">http://www.smilesforlife.org</a></p>
                        <p><strong>What They Do</strong>: From March through June every year, literally hundreds of Dentists across the country and Canada who are members of the Crown Council offer reduced prices on teeth whitening. They then take 100% of these costs and donate them to the Smiles For Life foundation. That money then goes to ill, disabled and/or underprivileged kids the world over.</p>
                        <p><strong>How You Can Use Them</strong>: You can get involved by using these dentists during this time for a major discount on teeth whitening procedures. You can find out who those dentists are by using this link.</p>
                        <p><strong>Reliability</strong>: They&rsquo;re a legit operation that&rsquo;s raised over $38 million dollars since launching in 1998.</p>
                        <h2>UAB School Of Dentistry</h2>
                        <p><strong>Website</strong>: <a href="http://www.uab.edu/dentistry/home/" target="_blank">http://www.uab.edu/dentistry/home/</a></p>
                        <p><strong>What They Do</strong>: It&rsquo;s a University, so the students get to practice on your teeth for a discount (while under the direct supervision of faculty). They have three separate clinical programs that encompass everything from teeth whitening to extraction.</p>
                        <p><strong>How You Can Use Them</strong>: You can get involved by getting on their schedule and having your teeth seen too!</p>
                        <p><strong>Reliability</strong>: They&rsquo;re a legit operation, but as with many School programs, it&rsquo;s generally first-come, first-served, so you&rsquo;ll have to schedule an appointment and get there very early.</p>
                        <h2>Dental Lifeline Network</h2>
                        <p><strong>Website</strong>: <a href="https://dentallifeline.org" target="_blank">https://dentallifeline.org</a></p>
                        <p><strong>What They Do</strong>: The main focus of the DDS (Donated Dental Services) is for the disabled. They provide free treatment and to see if you qualify click here.</p>
                        <p><strong>How You Can Use Them</strong>: They take patients who number amongst the disabled, the elderly or the medically fragile.</p>
                        <p><strong>Reliability</strong>: They&rsquo;re a legit operation that launched in 1985 and who have helped over 117,000 people and used more than $330 million in therapy monies.</p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- Website Name 1 -->
        <section id="website-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h2>Coverage For All</h2>
                        <p><strong>Website</strong>: <a href="https://coverageforall.org" target="_blank">https://coverageforall.org</a></p>
                        <p><strong>What They Do</strong>: Their main focus is on the unemployed and uninsured. They offer resources to get you in touch with your local state government programs.</p>
                        <p><strong>How You Can Use Them</strong>: They offer up links to applications you can either download and print as well as give links to websites in your area that can give you quotes, etc.</p>
                        <p><strong>Reliability</strong>: it was launched relatively recently, in 2004, but they&rsquo;ve been doing well.</p>
                        <h2>Children&rsquo;s Dental Health Project</h2>
                        <p><strong>Website</strong>: <a href="https://www.cdhp.org" target="_blank">https://www.cdhp.org</a></p>
                        <p><strong>What They Do</strong>: Their primary focus is advocating politicians, policy makers, and dental advocates to discover new, cost-effective means to helping children&rsquo;s needs.</p>
                        <p><strong>How You Can Use Them</strong>: They&rsquo;re involved primarily with children, so they&rsquo;re not necessarily a great resource for adult teeth whitening.</p>
                        <p><strong>Reliability</strong>: They&rsquo;re a legit operation founded in 1996.</p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>


        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
