<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <h1>Teeth Whitening - Nutrition &amp; Fitness</h1>
                        <p>ED is caused by poor blood vessel function and is considered a sign you could be a candidate for heart disease. Enter: diet and exercise. The same things that help your heart could also help you not become impotent. Studies show a combination of diet and exercise can improve the risk of getting ED or impotence for millions of men.</p>
                        <p>In one study, a low-fat, low-cholesterol diet along with exercise resulted in about a third of the men with ED returning to healthy sexual functioning. In another study, men with a diet high in flavonoids had a 10 percent less risk of developing ED. Flavonoids are food compounds found in fruits, vegetables, and grains. Dietitians say the Mediterranean Diet is high in flavonoids.</p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <img src="/teethwhitening_blog2_s.jpg" alt="" style="width: 100%;">
                        <h2>Nutrition</h2>
                        <p>Before you shell out any more of your hard-earned cash to buy teeth whitening products, you might want to consider doing it naturally. The solution is right in your kitchen. Along with religious brushing and flossing, some foods can help your pearly whites stay that way.</p>
                        <p>We're talking about foods like strawberries and apples that contain an enzyme used in toothpaste called malic acid. &nbsp;The fruit, stem, and leaves of a pineapple have a cleaning enzyme called bromelain that is sometimes used in whitening toothpaste.</p>
                        <p>Crunchy fruits and veggies like broccoli act like a detergent. Their fibers scrub and polish your chompers. The iron in broccoli also provides a protective coating against the acid from bacteria. Otherwise, that acid breaks down your tooth's enamel. As a bonus? This action also helps prevent cavities.</p>
                        <p>The acids from fruits do double duty. They help clean away plaque from your teeth. And they increase the amount of saliva-the mouth's very own rinsing agent. Even raisins can help. They neutralize the acid environment, prevent the growth of some types of bacteria and also stimulate saliva which helps keep stains from sticking.</p>
                        <p>Can you say "Cheese"? The minerals in cheese &ndash; particularly cheddar cheese &ndash;&nbsp;help keep your tooth enamel strong. And according to the American Academy of Cosmetic Dentistry, the lactic acid in cheese helps protect against tooth decay. &nbsp;Hard cheeses help stimulate more of that good saliva.</p>
                        <p>Last but not least, drinking water is key to your dental health too. It helps pump up the amount of saliva and rinses away food particles that could become plaque.</p>
                        <p>The upside is all of this is good for you anyway!</p>
                        <p>But look out for the stuff that can stain your teeth. There are lots of them. Dark foods and drinks have a greater potential to stain. Coffee, tea and red wine are some of the worst offenders. The acids in red wine wear away your tooth enamel and open the pores. That can expose the yellow layer underneath. Water may be your best friend here and a good line of first defense! &nbsp;Swish some water around in your mouth after drinking. The water will help wash away the acid.</p>
                        <p>Black coffee can stain big time too. But it seems that a splash of cream or milk to lighten it lessens its staining potential. Balsamic vinegar is another possible bad guy. But it turns out that the leafy greens in your salad help protect your teeth from the acid in the vinegar. Then there's the acid from tomato sauce. Eating a salad before that pasta dish may help form a natural barrier for your teeth from the acid.</p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <h2>Fitness</h2>
                        <p>No question exercise is good for you all around. &nbsp;But when it comes to your dental health, there are two things athletes do that can put your bright smile at risk.</p>
                        <p>One is heavy mouth breathing. It can dry out your mouth, and reduce the amount of saliva paving the way for bacteria to grow. The other is relying on sugary sport and energy drinks. Sure the electrolytes help hydrate you. But the excess sugar and acids can damage your teeth.</p>
                        <p>Water is a better alternative. One other suggestion? Drink the sports drinks with a straw.</p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- Misc Content -->
        <section id="misc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">

                        <h2>References</h2>
                        <p><a href="https://www.unh.edu/healthyunh/blog/2012/10/nutrition-behind-whiter-teeth" target="_blank">https://www.unh.edu/healthyunh/blog/2012/10/nutrition-behind-whiter-teeth</a></p>
                        <p><a href="http://www.eatingwell.com/article/279497/7-foods-that-whiten-teeth-naturally/" target="_blank">http://www.eatingwell.com/article/279497/7-foods-that-whiten-teeth-naturally/</a></p>
                        <p><a href="http://www.prevention.com/beauty/foods-white-teeth" target="_blank">http://www.prevention.com/beauty/foods-white-teeth</a></p>
                        <p><a href="http://www.menshealth.com/style/surprising-ways-to-whiten-teeth" target="_blank">http://www.menshealth.com/style/surprising-ways-to-whiten-teeth</a></p>
                        <p><a href="https://www.carefreedental.com/resources/24-your-teeth/122-do-you-know-how-exercise-impacts-your-dental-health" target="_blank">https://www.carefreedental.com/resources/24-your-teeth/122-do-you-know-how-exercise-impacts-your-dental-health</a></p>
                    
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
