<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h1>Treatments & Therapies</h1>
                        <p>
                            Teeth whitening treatments range from bringing out the natural color in the tooth to enhancing 
                            the color to a brilliant white. The type of treatment depends on the results that you want, as 
                            well as cost and availability. Keep reading to find out more about teeth whitening treatments 
                            and the causes behind teeth discoloration.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <img src="/teethwhitening_landing_header_e.jpg" alt="" style="width: 100%;">
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">

                        <h2>Current Treatments</h2>
                        <p>
                            If you&rsquo;re looking for something stronger to whiten damaged teeth, here are some treatments 
                            and their effects. Remember: 
                            <u>many teeth whiteners become more efficient with repeated use.</u>
                        </p>
                        
                        <h3>Bleaching vs. Whitening</h3>
                        <p>
                            There are distinct differences between bleaching and whitening. Bleaching gives the teeth a brighter color 
                            shade above and beyond their natural state of color. Whitening, on the other hand, simply takes away any dirt 
                            so your teeth color can return to &ldquo;normal.&rdquo;
                        </p>

                        <h3>Whitening Toothpaste</h3>
                        <p>
                            These types of toothpaste may appear to remove some surface stains, but they can&rsquo;t alter the natural color 
                            of your teeth nor can they have any great impact on stains that go deeper than the surface.
                        </p>
                        <p>
                            These types of toothpaste, which don&rsquo;t contain peroxide, usually consist of abrasives that help polish the 
                            teeth as well as chemicals that aid in removing or dissolving stains. Some of them also include Blue Covarine, a 
                            chemical that sticks to the teeth to give the impression the teeth are whiter than they are.
                        </p>
                        <p>
                            Using these kinds of toothpaste, twice a day, takes roughly two to six weeks for teeth to become whiter (although 
                            the Blue Covarine has a more instantaneous effect). Be sure to follow the recommendations that the producer of the 
                            toothpaste gives you and be sure to look for a brand that retains a seal of approval from the American Dental Association 
                            or other, similarly well-regarded dental institutions.
                        </p>

                        <h3>Whitening Strips</h3>
                        <p>
                            Apply strips for approximately 30 minutes a day, and you&rsquo;ll see results as the peroxide inherent in each piece has 
                            the time to get to work. Be aware, however, that they only reach the front teeth &ndash; which number between six to eight. 
                            They&rsquo;re not ideal for the whole mouth.
                        </p>

                        <h3>Foods</h3>
                        <p>
                            Certain foods can help clean your teeth and lessen the amount of discoloration. They include high-fiber fruits and veggies 
                            &ndash; for example apples, celery and carrots. You can also drink coffee through a straw which helps in reducing discoloration 
                            too.
                        </p>

                        <h3>Mouthwash</h3>
                        <p>
                            This is not a great help in treating discolored teeth as all mouthwash is particularly good at is protecting against the 
                            build-up of bacteria. If you do use mouthwash, choose one that&rsquo;s both devoid of alcohol and clear. The alcohol helps 
                            dry your mouth out and leads to more stain building, and colored mouthwash may discolor your teeth over time.
                        </p>

                        <h3>Whitening Pens/Gels</h3>
                        <p>
                            Their efficacy runs small as, despite it containing teeth-whitening peroxide, it needs to be on the teeth for a minimum 
                            of 15-30 minutes.
                        </p>

                        <h3>At-Home Treatment</h3>
                        <p>
                            For this to work, your dentist creates an impression of your teeth that is then used to make a tray. Once a particular 
                            solution with a bleaching element known as carbamide peroxide is added to the plate, position the tray over your teeth at 
                            night when you sleep. This procedure can take two weeks to show results, but they&rsquo;re fairly impressive and can last 
                            around two years.
                        </p>

                        <h3>In-Office Treatment</h3>
                        <p>
                            This treatment is performed solely at your dentist&rsquo;s office, takes roughly thirty minutes, and consists of a solution 
                            that&rsquo;s filled with hydrogen peroxide. This method takes approximately four separate visits, but you have to be careful 
                            not to burn your gums which your dentist will protect with a barrier.
                        </p>

                        <h2>Risks</h2>
                        <p>
                            Be aware that all bleaching solutions have the ability to <strong>make your teeth sensitive</strong>, even though companies are adding potassium 
                            nitrate and fluoride to them that helps bring down the risk. Other risks include <strong>gum irritation</strong> and <strong>multi-colored teeth</strong>
                        </p>
                        <p>
                            No current solution is permanent; your teeth face the ravages brought on by sugar and plaque each time you eat or drink, so you have 
                            to maintain a healthy regimen to lessen the risks of it happening sooner. In all likelihood, you&rsquo;ll also have to repeat the 
                            solution you used at some point in the future.
                        </p>
                        <p>
                            Consult your dentist to determine what the best option is for you.
                        </p>

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <h2>Research</h2>
                        <p><a href="http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/whitening-toothpaste/faq-20058411" target="_blank">http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/whitening-toothpaste/faq-20058411</a></p>
                        <p><a href="http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/brushing-your-teeth/faq-20058193" target="_blank">http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/brushing-your-teeth/faq-20058193</a></p>
                        <p><a href="http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html" target="_blank">http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html</a></p>
                        <p><a href="http://www.womenshealthmag.com/beauty/effective-teeth-whitening-treatments/slide/2" target="_blank">http://www.womenshealthmag.com/beauty/effective-teeth-whitening-treatments/slide/2</a></p>
                        <p><a href="http://www.yourdentistryguide.com/teeth-whitening/" target="_blank">http://www.yourdentistryguide.com/teeth-whitening/</a></p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
