<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ../partials/head %>
    </head>

    <body>

        <%- include ../partials/header %>

        <%- include ../ezoic/top-page %>

        <%- include ../partials/contact_sticky %>

        <!-- article title -->
        <section id="article-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <h1>Types Of Tooth Stains</h1>
                        <p>There are two basic types:</p>
                        <p><strong>Intrinsic Stains</strong> &ndash; stains that form on the interior of the teeth and occur by anything (and everything) from trauma to aging to mineral exposure to fluoride ingestion.</p>
                        <p><strong>Extrinsic Stains</strong> &ndash; the stains we can see on the exterior of the tooth. Certain extrinsic stains can become ingrained with the dentin if not dealt with soon.</p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- article title -->
        <section id="article-image">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <img src="/teethwhitening_landing_header_e.jpg" alt="" style="width: 100%;">
                        <h2>Causes of Tooth Stains</h2>
                        <p>Some causes include:</p>
                        <ul>
                        <li>Age</li>
                        <li>Translucency</li>
                        <li>Diet</li>
                        <li>Smoking</li>
                        <li>Drugs</li>
                        <li>Grinding</li>
                        <li>Trauma</li>
                        </ul>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">


                        <h2>Current Treatments</h2>
                        <p>If you&rsquo;re looking for something stronger to whiten damaged teeth, here are some treatments and their effects. Remember: many teeth whiteners become more efficient with repeated use.</p>
                        <p><strong>Bleaching and Whitening.</strong> There are distinct differences between bleaching and whitening. Bleaching gives the teeth a brighter color shade above and beyond their natural state of color. Whitening, on the other hand, simply takes away any dirt so your teeth color can return to &ldquo;normal.&rdquo;</p>
                        <p><strong>Whitening toothpaste</strong> may appear to remove some surface stains, but it can&rsquo;t alter the natural color of your teeth nor can it have any great impact on stains that go deeper than the surface.</p>
                        <p>These types of toothpaste, which don&rsquo;t contain peroxide, usually consist of abrasives that help polish the teeth as well as chemicals that aid in removing or dissolving stains. Some of them also include Blue Covarine, a chemical that sticks to the teeth to give the impression the teeth are whiter than they are.</p>
                        <p>Using these kinds of toothpaste, twice a day, takes roughly two to six weeks for teeth to become whiter (although the Blue Covarine has a more instantaneous effect). Be sure to follow the recommendations that the producer of the toothpaste gives you and be sure to look for a brand that retains a seal of approval from the American Dental Association or other, similarly well-regarded dental institutions.</p>
                        <p><strong>Whitening Strips</strong> &ndash; Apply strips for approximately 30 minutes a day, and you&rsquo;ll see results as the peroxide inherent in each piece has the time to get to work. Be aware, however, that they only reach the front teeth &ndash; which number between six to eight. They&rsquo;re not ideal for the whole mouth.</p>
                        <p><strong>Foods</strong> &ndash; Certain foods can help clean your teeth and lessen the amount of discoloration. They include high-fiber fruits and veggies &ndash; for example apples, celery and carrots. You can also drink coffee through a straw which helps in reducing discoloration too.</p>
                        <p><strong>Mouthwash</strong> &ndash; This is not a great help in treating discolored teeth as all mouthwash is particularly good at is protecting against the build-up of bacteria. If you do use mouthwash, choose one that&rsquo;s both devoid of alcohol and clear. The alcohol helps dry your mouth out and leads to more stain building, and colored mouthwash may discolor your teeth over time.</p>
                        <p><strong>Whitening Pens/Gels </strong>&ndash; Their efficacy runs small as, despite it containing teeth-whitening peroxide, it needs to be on the teeth for a minimum of 15-30 minutes.</p>
                        <p><strong>At-Home Treatment</strong> &ndash; For this to work, your dentist creates an impression of your teeth that is then used to make a tray. Once a particular solution with a bleaching element known as carbamide peroxide is added to the plate, position the tray over your teeth at night when you sleep. This procedure can take two weeks to show results, but they&rsquo;re fairly impressive and can last around two years.</p>
                        <p><strong>In-Office Treatment</strong> &ndash; This treatment is performed solely at your dentist&rsquo;s office, takes roughly thirty minutes, and consists of a solution that&rsquo;s filled with hydrogen peroxide. This method takes approximately four separate visits, but you have to be careful not to burn your gums which your dentist will protect with a barrier.</p>
                        <p>Be aware that all bleaching solutions have the ability to make your teeth sensitive, even though companies are adding potassium nitrate and fluoride to them that helps bring down the risk.</p>
                        <p>Other risks include:<br />Gum irritation<br />Multicolored Teeth</p>
                        <p>No current solution is permanent; your teeth face the ravages brought on by sugar and plaque each time you eat or drink, so you have to maintain a healthy regimen to lessen the risks of it happening sooner. In all likelihood, you&rsquo;ll also have to repeat the solution you used at some point in the future.</p>
                        <p>Consult your dentist to determine what the best option is for you.</p>

                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../ezoic/middle-page %>

        <!-- Website Name 2 With Link -->
        <section id="website-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1 col-md-2">
                    </div>
                    <div class="col-xs-10 col-md-8">
                        <h2>Research</h2>
                        <p><a href="http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/whitening-toothpaste/faq-20058411" target="_blank">http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/whitening-toothpaste/faq-20058411</a></p>
                        <p><a href="http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/brushing-your-teeth/faq-20058193" target="_blank">http://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/brushing-your-teeth/faq-20058193</a></p>
                        <p><a href="http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html" target="_blank">http://www.chicagotribune.com/lifestyles/health/sns-201507021630--tms--mayoclnctnmc-a20150702-20150702-story.html</a></p>
                        <p><a href="http://www.womenshealthmag.com/beauty/effective-teeth-whitening-treatments/slide/2" target="_blank">http://www.womenshealthmag.com/beauty/effective-teeth-whitening-treatments/slide/2</a></p>
                        <p><a href="http://www.yourdentistryguide.com/teeth-whitening/" target="_blank">http://www.yourdentistryguide.com/teeth-whitening/</a></p>
                    </div>
                    <div class="col-xs-1 col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ../partials/article_browse.ejs %>

        <%- include ../ezoic/bottom-page %>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../../lib/google_analytics %>
</html>
