<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../lib/contact_us_css.ejs %>

        <!-- Head -->
        <%- include ./partials/head %>
    </head>

    <body>
        <%- include ./partials/header %>

        <%- include ./partials/contact_sticky.ejs %>


        <!-- Contact Us Form -->
        <section id="contact-us">
            <div class="container">
                <h3>Questions Or Comments?</h3>
                <p>Do you have any questions or comments about this site? Let us know.</p>
                <div class="row">
                    <div class="col-xs-12">
                        <form id="contact-us-form" method="post">
                            <input id="First-Name" type="text" placeholder="First Name"  value="" style="width: 25%;">
                            <input id="Last-Name" type="text" placeholder="Last Name"  value="" style="width: 25%;"><br>
                            <input id="Email-From" type="text" placeholder="Email"  value="" style="width: 50%;"><br>
                            <textarea id="Message-Box" type="textarea" rows="7" cols="50" placeholder="Message" value="" style="width: 50%;"></textarea><br>
                            <input id="Contact-Submit" type="submit" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <%- include ./partials/footer.ejs %>

        <%- include ./partials/modal.ejs %>

    </body>

        <!-- JS Libraries -->
        <% include ../lib/javascript.ejs %>

        <!-- Google Analytics -->
        <% include ../lib/google_analytics %>
</html>
