<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ../lib/article_css.ejs %>

        <!-- Head -->
        <%- include ./partials/head %>
    </head>

    <body>

        <%- include ./partials/header %>

        <%- include ./ezoic/top-page %>

        <%- include ./partials/contact_sticky %>


        <!-- content 1 -->
        <section id="content-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-8">

                        <!-- Add Content Here -->

                        <h1>Terms of Use</h1>

                        <p>

                            Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the doctorpedia.com website (the "Site") operated by Doctorpedia, Ltd.  ("us", "we", or "our").<br><br>

                            Your access to and use of the Site is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Site.<br><br>

                            By accessing or using the Site you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Site<br><br>

                            Use and Ownership of Materials and Content
                            All videos, graphics, images, written materials and other content posted on the Site by Doctorpedia, Ltd. are protected by copyright laws in the United States and in foreign countries. Unless otherwise noted on the Site, such materials are owned by Doctorpedia, Ltd.  Some materials may be owned by third party licensors.  You are authorized to view or download a single copy of the material on the Site solely for personal, noncommercial use if you include the copyright notice located at the end of the material, for example: "©2017, DOCTORPEDIA, LTD. All rights reserved" and other copyright and proprietary rights notices that are shown on the Site.  Any special rules for the use of certain software and other items accessible on the Site may be included elsewhere within the Site and are incorporated into these Terms and Conditions by reference.<br><br>

                            Ownership of the materials remains with us and/or our licensors. Any use of the materials not expressly permitted by these Terms and Conditions will contitute a breach of these Terms and Conditions and may violate copyright, trademark, intellectual property and other laws. All rights not expressly granted herein are reserved to Doctorpedia, Ltd. and its licensors.<br><br>

                            Permission to use the copyrighted materials is conditional on compliance with these Terms and Conditions.  Violation of these Terms and Conditions automatically terminated your permission to use the materials.<br><br>

                            Content Provided is Not Medical Advice
                            Some of the materials on the Site may provide information regarding various health issues.  The contents of the Site, including, but not limited to all videos, text, graphics, images, information obtained from our licensors, and other material contained on the Site ("Content") are for informational purposes only. The Content is not intended to be - and cannot serve as - a substitute for professional medical advice, diagnosis, or treatment. Do not rely on any of the Content in making important decisions regarding your health. You should always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition or any questions you have about your own health. Never disregard professional medical advice or delay in seeking it because of something you have read on the Site.<br><br>

                            We do not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site. Reliance on any information appearing on the Site at our invitation, or other visitors to the Site is solely at your own risk.<br><br>

                            If you think you may be having a medical emergency, call your doctor, 911, or your local emergency services immediately.<br><br>

                            This Site is not intended for the use of children and is not designed to attract children.<br><br>

                            Communications
                            By creating an Account on our Site, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.<br><br>

                            User Content
                            Our Site may allow you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("User Content"). You are responsible for the User Content that you post on or through the Site, including its legality, reliability, and appropriateness.<br><br>

                            To protect your privacy, you agree that you will not submit any media that contains Personally Identifiable Information (like name, phone number, email address or web site URL) of you or of anyone else. Uploading media like images or video of other people without their permission is strictly prohibited.<br><br>

                            By posting User Content on or through the Site, You represent and warrant that: (i) the User Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your User Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.<br><br>

                            You retain any and all of your rights to any User Content you submit, post or display on or through the Site and you are responsible for protecting those rights. We take no responsibility and assume no liability for User Content you or any third party posts on or through the Site. However, by posting User Content using the Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such User Content on and through the Service. You agree that this license includes the right for us to make your User Content available to other users of the Service, who may also use your User Content subject to these Terms.
                            Doctorpedia, Ltd. has the right but not the obligation to monitor and edit all User Content provided by users.<br><br>

                            In addition, User Content found on or through this Service are the property of Doctorpedia, Ltd. or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.<br><br>

                            Accounts
                            When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.<br><br>

                            You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.<br><br>

                            You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.<br><br>

                            Links To Other Web Sites
                            Our Service may contain links to third party web sites or services that are not owned or controlled by Doctorpedia, Ltd.<br><br>

                            Doctorpedia, Ltd. has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.<br><br>

                            You acknowledge and agree that Doctorpedia, Ltd. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.<br><br>

                            We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.<br><br>

                            Termination
                            We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.<br><br>

                            If you wish to terminate your account, you may simply discontinue using the Service.<br><br>

                            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br><br>

                            Governing Law
                            These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to its conflict of law provisions.<br><br>

                            Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.<br><br>

                            Changes
                            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 15 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br><br>

                            By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.<br><br>

                            Limitations of Liability
                            Use of doctorpedia.com and its Content is at your own risk.<br><br>

                            All materials and content on the Site are provided on an “as is basis.”  Doctorpedial, Ltd., its licensors, suppliers and affiliates hereby DISCLAIM ALL WARRANTIES TO THE FULLEST EXTENT ALLOWED BY LAW, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE AND INCLUDING BUT NOT LIMITED TO: IMPLIED WARRANTIES OF MERCHANTABILITY; NON-INFRINGMENT OF THIRD PARTIES’ RIGHTS AND FITNESS FOR A PARTICULAR PURPOSE.<br><br>

                            Neither Doctorpedia, Ltd., nor any of if its affiliates, subsidiaries, licensors, or suppliers make any representations regarding the reliability, accuracy, effectiveness, timeliness, or current status of Content, software, text, videos, images, graphics, links or communications provided on or through the Site.  Neither Doctorpedia, Ltd., nor any of if its affiliates, subsidiaries, licensors, or suppliers make any representations regarding the satisfaction of any applicable government regulations regarding prescription drug products, medical devices or treatments or the approval or compliance of any software tools related to the Content of the Site.<br><br>

                            Use of this site involves the transmission of content and data via a medium that may be beyond our control and jurisdiction and/or the control of our suppliers.  Doctorpedia, Ltd.  Assumes no liability or responsibility for any delay, failures, interruption, or corruption of any data or any other information transmit in connection with the Site.


                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ./partials/article_browse.ejs %>

        <%- include ./ezoic/bottom-page %>

        <%- include ./partials/footer.ejs %>

        <%- include ./partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ../lib/javascript.ejs %>

    <!-- Google Analytics -->
    <% include ../lib/google_analytics %>
</html>
