<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ./lib/index_c_css.ejs %>

        <!-- Head -->
        <%- include ./templates/partials/head %>
    </head>

    <body>
        <%- include ./templates/partials/header %>

        <!-- Main Landing -->
        <section id="landing">
            <div class="container">
                <div class="row">
                    <div class="col-xs-0 col-md-12">
                        <video autoplay loop muted poster="screenshot.jpg" id="background">
                            <source src="./mp4/TW.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </section>

        <!-- break point 1 -->
        <section id="break-point-1">
            <div class="container">
                <h4 class="break-point-title-1">Browse our trusted resources and tools:</h4>
            </div>
        </section>

        <%- include ./templates/partials/resources.ejs %>

        <%- include ./templates/partials/videos.ejs %>

        <!-- HR -->
        <section id="featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <hr style="border-top: 1px solid #3DBFD3;">
                        <br>
                        <h3>Health Tips</h3><br>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ./templates/partials/break-points-2-3.ejs %>

        <%- include ./templates/partials/community.ejs %>

        <%- include ./templates/partials/email_subscribe.ejs %>

        <%- include ./templates/partials/footer.ejs %>

        <%- include ./templates/partials/modal.ejs %>

    </body>

    <!-- JS Libraries -->
    <% include ./lib/javascript.ejs %>

    <!-- JW Video JS -->
    <% include ./lib/video_urls.ejs %>

    <!-- Google Analytics -->
    <% include ./lib/google_analytics %>

</html>
