<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <% include ./lib/index_e_css.ejs %>

        <!-- Head -->
        <%- include ./templates/partials/head %>
    </head>

    <body>

        <%- include ./templates/partials/header %>

        <!-- Main Landing -->
        <section id="landing">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-xs-12 col-sm-5 landing-title">
                        <h2>Teeth Whitening</h2>
                        <p>
                        There are a lot of options for getting whiter teeth. In-office whitening treatments, at-home kits, and even fruit can be used to get a brighter smile. But how do you know which is best for you? If you’re looking to get your teeth a bit whiter, browse our resources below to learn more about the different options and communities.
                        </p>
                        <a href="#break-point-1" style="text-decoration: none; text-align: left;">
                            <img src="/button_nextsteps.png" alt="" style="width: 100px; height: 30px; float: left;">
                        </a>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </section>

        <!-- break point 1 -->
        <section id="break-point-1">
            <div class="container">
                <h2 class="break-point-title-1">Browse our trusted resources and tools: </h2>
            </div>
        </section>

        <%- include ./templates/partials/resources.ejs %>

        <%- include ./templates/partials/videos.ejs %>

        <!-- HR -->
        <section id="featured">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-8">
                        <br>
                        <h3>Health Tips</h3><br>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>
        </section>

        <%- include ./templates/partials/break-points-2-3.ejs %>

        <%- include ./templates/partials/community.ejs %>

        <%- include ./templates/partials/email_subscribe.ejs %>

        <%- include ./templates/partials/footer.ejs %>

        <%- include ./templates/partials/modal.ejs %>

    </body>
    <!-- JS Libraries -->
    <% include ./lib/javascript.ejs %>

    <!-- JW Video JS -->
    <% include ./lib/video_urls.ejs %>

    <!-- Google Analytics -->
    <% include ./lib/google_analytics %>
</html>
